﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .RadioStyle {
        margin-top: 14px !important;
        transform: scale(2);
        margin-right: 12px !important;
        margin-left: 20px !important;
    }

    .py-6 {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }

    .piechart {
        height: 400px !important;
        width: 564px !important;
    }
</style>

<script>

        $(document).ready(function () {

          //  $("#PieChartSection").css("display", "none");
            $("#gamecontainer").css("display", "none");
            var ddlPlatform = $("#ddlPlatform");
            var ddlGame = $("#ddlGame");

           


            $("#ddlPlatform").change(function () {

                if ($('option:selected', this).val() != "0") {
                   
                }
                else {
                   // $('#datatable').DataTable().clear().draw();
                   //   ddlGame.empty();
                    $('#GamepieChart').remove(); // this is my <canvas> element
                    $('#GameLosspieChart').remove();
                }
            });
            LoadGameWisePieChart();
        


            function LoadGameWisePieChart () {

                var fdata = new FormData();
                fdata.append("PlatformId", "1");
                fdata.append("PlatformName", "Supernowa Dealer");

                if ($("#ddlPlatform option:selected").text()=="Power Games") {
                    fdata.append("SelectedOption","PowerGame");
                }
                else {
                    fdata.append("SelectedOption", 'ProfitLoss');
                }

                    $.ajax({
                        url: '@Url.Action("GetGameListforPieChart", "Chart")',
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: fdata,
                        success: function (response) {



                            if (response != "0" && response != null) {
                              //  $("#PieChartSection").css("display", "block");
                                $("#gamecontainer").css("display", "block");
                                var TotalSum = 0, TotalProfit = 0, TotalLoss = 0;

                                Array.prototype.sum = function (prop) {
                                    var total = 0
                                    for (var i = 0, _len = this.length; i < _len; i++) {
                                        total += parseFloat(this[i][prop])
                                    }
                                    return total
                                }

                                Array.prototype.PositiveSum = function (prop) {
                                    var total = 0
                                    for (var i = 0, _len = this.length; i < _len; i++) {

                                        if (parseFloat(this[i][prop])>=0) {
                                            total = total + parseFloat(this[i][prop])
                                        }
                                    }
                                    return total
                                }

                                Array.prototype.NegativeSum = function (prop) {
                                    var total = 0
                                    for (var i = 0, _len = this.length; i < _len; i++) {
                                        if (parseFloat(this[i][prop]) < 0) {
                                            total = total + (parseFloat(this[i][prop])) * (-1);
                                        }
                                    }
                                    return total
                                }

                                var Y_Axis = new Array();
                                var X_Axis = new Array();
                                var Color = new Array();
                                var BorderColor = new Array();
                                var i = 0;

                                $("#ProfitHeader").empty();
                                $("#LossHeader").empty();

                                if ($('input[name="RadioOptions"]:checked').val() == "ProfitLoss") {
                                    TotalProfit = response.PositiveSum("totalProfitLoss");
                                    TotalLoss = response.NegativeSum("totalProfitLoss");

                                    $("#ProfitHeader").append("Profit");
                                    $("#LossHeader").append("Loss");
                                }
                                else if ($('input[name="RadioOptions"]:checked').val() == "BetAmount") {
                                    TotalSum = response.sum("totalBetAmount");
                                    $("#ProfitHeader").append("Volume");
                                }
                                else if ($('input[name="RadioOptions"]:checked').val() == "NoOfBetCount") {
                                    TotalSum = response.sum("totalBet");
                                    $("#ProfitHeader").append("#Bets");
                                }

                                $.each(response, function () {

                                    var percentage = 0, Count = 0;
                                    if ($('input[name="RadioOptions"]:checked').val() == "ProfitLoss") {

                                        if (parseFloat(this.totalProfitLoss) >= 0) {

                                            percentage = ((parseFloat(this.totalProfitLoss) * 100) / TotalProfit).toFixed(2);
                                            Count = parseFloat(this.totalProfitLoss).toFixed(2);

                                            Y_Axis[i] = percentage;
                                            X_Axis[i] = this.name + " (" + Count + ")";

                                            var o = Math.round, r = Math.random, s = 255;
                                            var R = o(r() * s), G = o(r() * s), B = o(r() * s);
                                            var C = 'rgba(' + R + ',' + G + ',' + B + ',0.2)';
                                            var BorderC = 'rgba(' + R + ',' + G + ',' + B + ',1)';
                                            BorderColor[i] = BorderC;
                                            Color[i] = C;

                                            i++;
                                        }

                                    }
                                    else if ($('input[name="RadioOptions"]:checked').val() == "BetAmount") {
                                        percentage = ((parseFloat(this.totalBetAmount) * 100) / TotalSum).toFixed(2);
                                        Count = parseFloat(this.totalBetAmount).toFixed(2);


                                        Y_Axis[i] = percentage;
                                        X_Axis[i] = this.name + " (" + Count + ")";

                                        var o = Math.round, r = Math.random, s = 255;
                                        var R = o(r() * s), G = o(r() * s), B = o(r() * s);
                                        var C = 'rgba(' + R + ',' + G + ',' + B + ',0.2)';
                                        var BorderC = 'rgba(' + R + ',' + G + ',' + B + ',1)';
                                        BorderColor[i] = BorderC;
                                        Color[i] = C;

                                        i++;
                                    }
                                    else if ($('input[name="RadioOptions"]:checked').val() == "NoOfBetCount") {
                                        percentage = ((parseFloat(this.totalBet) * 100) / TotalSum).toFixed(2);
                                        Count = this.totalBet;


                                        Y_Axis[i] = percentage;
                                        X_Axis[i] = this.name + " (" + Count + ")";

                                        var o = Math.round, r = Math.random, s = 255;
                                        var R = o(r() * s), G = o(r() * s), B = o(r() * s);
                                        var C = 'rgba(' + R + ',' + G + ',' + B + ',0.2)';
                                        var BorderC = 'rgba(' + R + ',' + G + ',' + B + ',1)';
                                        BorderColor[i] = BorderC;
                                        Color[i] = C;

                                        i++;
                                    }

                                });

                                const Piedata = {
                                    labels: X_Axis,
                                    datasets: [{
                                        label: 'My First Dataset',
                                        data: Y_Axis,
                                        hoverOffset: 4,
                                        backgroundColor: Color,
                                        borderColor: BorderColor,
                                        borderWidth: 1
                                    }]
                                };

                                $('#GamepieChart').remove(); // this is my <canvas> element
                                $('#GamePieChartBody').append('<canvas id="GamepieChart" data-type="Pie" height="400" width="564"></canvas>');
                                $.ChartJs.respChart($("#GamepieChart"), 'Pie', Piedata);



                                if ($('input[name="RadioOptions"]:checked').val() == "ProfitLoss") {

                                    var Loss_Y_Axis = new Array();
                                    var Loss_X_Axis = new Array();
                                    var Loss_Color = new Array();
                                    var Loss_BorderColor = new Array();
                                    var j = 0;


                                    $.each(response, function () {

                                        if (parseFloat(this.totalProfitLoss) < 0) {

                                            var percentage = 0, Count = 0;
                                            this.totalProfitLoss=parseFloat(this.totalProfitLoss) * (-1);
                                            percentage = ((parseFloat(this.totalProfitLoss) * 100) / TotalLoss).toFixed(2);
                                            Count = parseFloat(this.totalProfitLoss).toFixed(2);

                                            Loss_Y_Axis[j] = percentage;
                                            Loss_X_Axis[j] = this.name + " (" + Count + ")";

                                            var o = Math.round, r = Math.random, s = 255;
                                            var R = o(r() * s), G = o(r() * s), B = o(r() * s);
                                            var C = 'rgba(' + R + ',' + G + ',' + B + ',0.2)';
                                            var BorderC = 'rgba(' + R + ',' + G + ',' + B + ',1)';
                                            Loss_BorderColor[j] = BorderC;
                                            Loss_Color[j] = C;

                                            j++;
                                        }

                                    });

                                    const Loss_Piedata = {
                                        labels: Loss_X_Axis,
                                        datasets: [{
                                            label: 'My First Dataset',
                                            data: Loss_Y_Axis,
                                            hoverOffset: 4,
                                            backgroundColor: Loss_Color,
                                            borderColor: Loss_BorderColor,
                                            borderWidth: 1
                                        }]
                                    };

                                    $('#GameLosspieChart').remove(); // this is my <canvas> element
                                    $('#GameLossPieChartBody').append('<canvas id="GameLosspieChart" data-type="Pie" height="400" width="564"></canvas>');
                                    $.ChartJs.respChart($("#GameLosspieChart"), 'Pie', Loss_Piedata);

                                }
                                else {
                                    $('#GameLosspieChart').remove();
                                }




                            }
                            else {
                                swal("No Games Available !!", "", "warning", {
                                    button: "Close",
                                });
                                $('#GamepieChart').remove(); // this is my <canvas> element
                            //    $("#displaylabel").empty();
                              //  $("#GameList").empty();
                            }

                        },
                        error: function (err) {
                            alert(err.statusText);
                        }
                    });

            }

        });

</script>

}


<div class="container-fluid">
    <div class="card card-body blur shadow-blur">
        <div class="row">

            @*<div class="card-header">
                    <h3 class="card-title">Line Chart</h3>
                </div>*@

            <div class="col-auto card-body">
                <form action="#" class="form-horizontal">
                    <div class="form-group row">
                        <label class="col-sm-2 control-label">Select Platform</label>
                        <div class="col-sm-3">
                            <select id="ddlPlatform" class="select2 form-control" data-placeholder="Choose a Country...">
                            </select>
                        </div>

                        <div class="col-sm-6 col-md-6">


                            <div class="form-check-inline">
                                <input class="RadioStyle" type="radio" name="RadioOptions" value="ProfitLoss" checked>
                                <label class="" style="margin-top: 14px !important;" for="inlineRadio1">Revenue</label>
                            </div>
                            <div class="form-check-inline">
                                <input class="RadioStyle" type="radio" name="RadioOptions" value="BetAmount">
                                <label class="" style="margin-top: 14px !important;" for="inlineRadio2">Volume</label>
                            </div>
                            <div class="form-check-inline">
                                <input class=" RadioStyle" type="radio" name="RadioOptions" value="NoOfBetCount">
                                <label class="" style="margin-top: 14px !important;" for="inlineRadio3">#Bets</label>
                            </div>

                        </div>

                    </div>
                </form>
            </div>


        </div>



    </div>
</div>
<div class="container-fluid py-6" id="gamecontainer">
    <div class="row" id="PieChartSection">

        <div class="col-lg-6">
            <div class="card card-border card-primary">
                <div class="card-header">
                    <h6 class="text-primary" id="ProfitHeader">Profit</h6>
                </div>
                <div class="card-body" id="GamePieChartBody">
                    <canvas id="GamepieChart" class="piechart" height="400" width="564"></canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card card-border card-primary">
                <div class="card-header">
                    <h5 class="text-primary" id="LossHeader">Loss</h5>
                </div>
                <div class="card-body" id="GameLossPieChartBody">
                    <canvas id="GameLosspieChart" class="piechart" height="400" width="564"></canvas>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>

<script src="~/assets/pages/chartjsCustomBar.init.js"></script>