﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    string[] PageIds = Context.Session.GetString("PageIds").Split(",");
}

<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8" />
    <title>Reporting Service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="ReportingService" name="description" />
    <meta content="ReportingService" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />


    <!--<link rel="shortcut icon" href="~/assets/images/favicon_1.ico">-->
    <!-- Custom Files -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/Design.css" rel="stylesheet" type="text/css" />

    <script src="~/assets/js/modernizr.min.js"></script>

    <script src="~/assets/js/jquery.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
    <script src="https://unpkg.com/sweetalert@2.1.0/dist/sweetalert.min.js"></script>
 
    @RenderSection("headFiles", false)


</head>
<body class="fixed-left-void">

    <!-- Begin page -->
    <div id="wrapper" class="forced enlarged">

        <!-- Top Bar Start -->
        <div class="topbar">
            <!-- LOGO -->
            <div class="topbar-left">
                <div class="text-center">
                    <a href="#" class="logo"><span>Reporting Service</span></a>
                </div>
            </div>
            <!-- Button mobile view to collapse sidebar menu -->

            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <ul class="list-inline menu-left mb-0">
                        <li class="float-left">
                            <a href="#" class="button-menu-mobile open-left">
                                <i class="fa fa-bars"></i>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-right float-right list-inline">
                        <li class="dropdown open">
                            <a href="#" class="dropdown-toggle profile" data-toggle="dropdown" aria-expanded="true">
                                <i class="md md-settings-power mr-2" aria-hidden="true"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Login", "Home")" class="dropdown-item"><i class="md md-settings-power mr-2"></i> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->

        <div class="left side-menu">
            <div class="sidebar-inner slimscrollleft">

                <!--- Divider -->
                <div id="sidebar-menu">
                    <ul>





                        @if (Array.Exists(PageIds, element => element == "1") || Array.Exists(PageIds, element => element == "2") || Array.Exists(PageIds, element => element == "3"))
                        {
                            <li class="has_sub">
                                <a href="#" class="waves-effect"><i class="md md-home"></i><span>Dashboard </span><span class="pull-right"><i class="md md-add"></i></span></a>
                                <ul class="list-unstyled">

                                    @if (Array.Exists(PageIds, element => element == "1"))
                                    {
                                        <li><a href="@Url.Action("Index", "Home")">Card View</a></li>
                                    }
                                    @if (Array.Exists(PageIds, element => element == "2"))
                                    {
                                        <li><a href="@Url.Action("SecondDashboard", "Home")">Linechart</a></li>
                                    }
                                    @if (Array.Exists(PageIds, element => element == "3"))
                                    {
                                        <li><a href="@Url.Action("ThirdDashboard", "Home")">Piechart</a></li>
                                    }

                                </ul>
                            </li>
                        }

                        @if (Array.Exists(PageIds, element => element == "4") || Array.Exists(PageIds, element => element == "8"))
                        {
                            <li class="has_sub">
                                <a href="#" class="waves-effect"><i class="md md-find-in-page"></i><span>Report </span><span class="pull-right"><i class="md md-add"></i></span></a>
                                <ul class="list-unstyled">

                                    @if (Array.Exists(PageIds, element => element == "4"))
                                    {
                                        <li><a href="@Url.Action("AgentPLReport", "Home")">GGR</a></li>
                                    }
                                    @if (Array.Exists(PageIds, element => element == "8"))
                                    {
                                        <li><a href="@Url.Action("WithdrawalRequest", "Home")">Exchange Withdrawal</a></li>
                                    }



                                </ul>
                            </li>
                        }
                        @if (Array.Exists(PageIds, element => element == "9") || Array.Exists(PageIds, element => element == "10"))
                        {
                            <li class="has_sub">
                                <a href="#" class="waves-effect"><i class="md md-find-in-page"></i><span>BetList  </span><span class="pull-right"><i class="md md-add"></i></span></a>
                                <ul class="list-unstyled">

                                    @if (Array.Exists(PageIds, element => element == "9"))
                                    {
                                        <li><a href="@Url.Action("BetList", "Home")">Supernowa</a></li>
                                    }
                                    @if (Array.Exists(PageIds, element => element == "10"))
                                    {
                                        <li><a href="@Url.Action("Index", "Satsport")">Exchange</a></li>
                                    }



                                </ul>
                            </li>
                        }



                        @if (Array.Exists(PageIds, element => element == "5"))
                        {

                            <li class="has_sub">
                                <a href="#" class="waves-effect"><i class="fa fa-line-chart"></i><span>Live Bets</span><span class="pull-right"><i class="md md-add"></i></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="@Url.Action("SatSport", "RunningAnalysis")">Exchange</a></li>
                                </ul>
                            </li>
                            <li class="has_sub">
                                <a href="#" class="waves-effect"><i class="fa fa-line-chart"></i><span>Daily Report</span><span class="pull-right"><i class="md md-add"></i></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="@Url.Action("SatSportDailyReport", "RunningAnalysis")">Satsport</a></li>
                                </ul>
                            </li>

                        }

                        @if (Array.Exists(PageIds, element => element == "12"))
                        {
                            <li>
                                <a href="@Url.Action("FraudDetection", "Satsport")" class="waves-effect"><i class="fa fa-user"></i><span> Fraud Detection </span></a>
                            </li>
                        }

                        @if (Array.Exists(PageIds, element => element == "6"))
                        {
                            <li>
                                <a href="@Url.Action("AddUser", "Home")" class="waves-effect"><i class="fa fa-user"></i><span> Add User </span></a>
                            </li>
                        }

                        @if (Array.Exists(PageIds, element => element == "7"))
                        {
                            <li>
                                <a href="@Url.Action("AddUserRole", "Home")" class="waves-effect"><i class="fa fa-file"></i><span> User Permission </span></a>
                            </li>
                        }

                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">

                <div class="container-fluid">

                    @RenderBody()

                </div>


            </div> <!-- content -->
        </div>
        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->

    <script>
        var resizefunc = [];
    </script>

    <!-- Main  -->

    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/detect.js"></script>
    <script src="~/assets/js/fastclick.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/jquery.blockUI.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/jquery.nicescroll.js"></script>
    <script src="~/assets/js/jquery.scrollTo.min.js"></script>

    @RenderSection("FooterFiles", false)
    <script src="~/assets/js/jquery.app.js"></script>
</body>
</html>
