﻿
@{
    ViewData["Title"] = "BetList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section headFiles
{

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
    <script>
        var columns = [];
        $(document).ready(function () {
            var lbl = $("#lbltext");
            
            $.ajax({
                url: "/Satsport/Test",
                type: "POST",
                success: function (data) {

                    alert(data.profit);
                  
                    columnNames = Object.keys(data.aList[0]);
                    for (var i in columnNames) {
                        columns.push({
                            data: columnNames[i],
                            title: columnNames[i]
                        });
                    }
                    $('#example').DataTable({
                        "processing": true, // for show progress bar
                        "serverSide": false, // for process server side
                        "filter": true, // this is for disable filter (search box)
                        "orderMulti": false, // for disable multiple column at once

                        "data": data.aList,
                        "columns": columns
                    });
                }
            });


            function doSomethingWithApiData(arr) {
                alert("do some");
                console.log(arr) // do something with resp here
            }


        });
    </script>
}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <label id="lbltext"></label>
            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>cn</th>
                        <th>rUrl</th>
                        <th>status</th>
                        <th>startTime</th>
                        <th>endTime</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

</div>
