﻿@{
    ViewData["Title"] = "Fraud Detection";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@section headFiles{

    <!--Datepicker-->
    <link href="~/plugins/bootstrap-datetimepicker/dist/css/datepicker.min.css?v=q0wZgzQ6Ru67x-pIe9IAztrnlHNHyZui3BMwqUYDnpI" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css" rel="stylesheet">
    <script src='/select2/jquery-3.2.1.min.js' type='text/javascript'></script>
    <script src='/select2/dist/js/select2.min.js' type='text/javascript'></script>

    <link href='/select2/dist/css/select2.min.css' rel='stylesheet' type='text/css'>

    <style>
        .select2-dropdown.select2-dropdown--below {
            /*width: 148px !important;*/
        }

        .select2-container--default .select2-selection--single {
            padding: 6px;
            height: 37px;
            width: 148px;
            font-size: 1.2em;
            position: relative;
        }

            .select2-container--default .select2-selection--single .select2-selection__arrow {
                background-image: -khtml-gradient(linear, left top, left bottom, from(#cb0c9f), to(#030303));
                background-image: -moz-linear-gradient(top, #cb0c9f, #030303);
                background-image: -ms-linear-gradient(top, #cb0c9f, #030303);
                background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cb0c9f), color-stop(100%, #030303));
                background-image: -webkit-linear-gradient(top, #cb0c9f, #030303);
                background-image: -o-linear-gradient(top, #cb0c9f, #030303);
                background-image: linear-gradient(#cb0c9f, #030303);
                width: 40px;
                color: #fff;
                font-size: 1.3em;
                padding: 4px 12px;
                height: 27px;
                position: absolute;
                top: 0px;
                right: 0px;
                width: 20px;
            }

        .ddlstyle {
            width: 100%;
        }

        .paginate_button {
            font-size: 12px
        }

        .dataTables_info {
            font-size: 12px
        }

        .red {
            color: red;
            line-height: 1;
        }

        .green {
            color: green;
            line-height: 1;
        }

        .card-body {
            padding: 0.25rem 1.25rem 0.25rem 1.25rem;
        }

        .dt-buttons {
            margin-left: 12px;
        }
    </style>

    <script>

        var MarketID = 0;
        var offset = 0;
        var selectedtimezone = "";
        $(document).ready(function () {
            $('select').select2();
            var clickHandler = "click";

            if ('ontouchstart' in document.documentElement) {
                clickHandler = "touchstart";
            }
            var ddlMarket = $("#ddlMarket");
            var ddlSports = $("#ddlSports");
            var ddlTournament = $("#ddlTournaments");
            var ddlMatch = $("#ddlMatch");
            var ddlSettled = $("#ddlSettled");

            ddlSports.empty().append('<option selected="selected" value="0">Select Sport</option>');
            ddlMatch.empty().append('<option selected="selected" value="0">Select Match</option>');
            ddlTournament.empty().append('<option selected="selected" value="0">Select Tournament</option>');

            $("select.formtimezone").change(function () {

                 selectedtimezone = "";
                 selectedtimezone = $(this).children("option:selected").val();

            });
            $("#ddlFancy").change(function () {
                if ($("#ddlPlatform option:selected").val() == "0") {
                    swal("Please Select Platform !!", "", "warning", {
                        button: "Close",
                    });

                } else {
                    getMarket();
                }

            });

          var table=  $('#datatable').DataTable();
            $('#datatable tbody').on('click', 'tr', function () {
                var currentRow = $(this).closest("tr");

                var id = currentRow.find("td:eq(0)").text();
                var name = currentRow.find("td:eq(2)").text();

                window.location.href = '@Url.Action("GetFraudDetails", "Satsport")' + '?id='+id+'&name='+name


                   });
            var ddlPlatform = $("#ddlPlatform");
            function binddropdown() {

                $.ajax({
                    url: '@Url.Action("GetSatSportPlatformList", "Satsport")',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: "{}",
                    success: function (response) {
                        ddlPlatform.empty().append('<option selected="selected" value="0">Select Platform</option>');


                        $.each(response, function () {


                            ddlPlatform.append($("<option></option>").val(this['value']).html(this['text']));
                        });
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });

            }
            binddropdown();

                $("#ddlPlatform").change(function () {


                    getMarket();


                    if ($('option:selected', this).val() != "0") {


                        var fdata = new FormData();
                        fdata.append("PlatformId", $("#ddlPlatform option:selected").val());
                        fdata.append("PlatformName", $("#ddlPlatform option:selected").text());




                $.ajax({
                    url: '@Url.Action("GetSatSportBFSportList", "Satsport")',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fdata,
                    success: function (response) {
                        ddlSports.empty().append('<option selected="selected" value="0">Select Sports</option>');
                        ddlTournament.empty().append('<option selected="selected" value="0">Select Tournament</option>');
                        ddlMatch.empty().append('<option selected="selected" value="0">Select Match</option>');
                        ddlMarket.empty().append('<option selected="selected" value="0">Select Market</option>');

                        $.each(response, function () {

                            if (this['selected'] == true) {
                                ddlSports.append($("<option class='green'></option>").val(this['value']).html(this['text']));
                            }
                            else {
                                ddlSports.append($("<option class='red'></option>").val(this['value']).html(this['text']));
                            }

                        });
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });

                }
                else {
                    $('#datatable').DataTable().clear().draw();
                    ddlMarket.empty();
                }

            });


          $("#ddlSports").change(function () {

              var fromDate1 = moment($("#fromdate").val(), 'DD/MM/YYYY hh:mm A');
              //var fromDate = moment($("#fromdate").val(), 'DD/MM/YYYY hh:mm A').utc();

              //var toDate = moment(fromDate).add(23, 'hours');
              //toDate = moment(toDate).add(59, 'minutes');
              //toDate = moment(toDate).add(59, 'seconds');
              var toDate1 = moment($("#todate").val(), 'DD/MM/YYYY hh:mm A');
              var c = fromDate1.toJSON().split(':');
              c.splice(c.length - 1, 1);
              fromDate = c.join(':') + ':00.000';

              var b = toDate1.toJSON().split(':');
              b.splice(b.length - 1, 1);
              toDate = b.join(':') + ':59.999';
             if ($('option:selected', this).val() != "0") {

                    var fdata = new FormData();
              fdata.append("PlatformId", $("#ddlPlatform option:selected").val());
              fdata.append("PlatformName", $("#ddlPlatform option:selected").text());
                 fdata.append("sportID", $("#ddlSports option:selected").val());
                 fdata.append("FromDate", fromDate);
                 fdata.append("ToDate", toDate);

                $.ajax({
                   url: '@Url.Action("GetSatSportBfTournamentList", "Satsport")',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fdata,
                    success: function (response) {
                        ddlTournament.empty().append('<option selected="selected" value="0">Select Tournament</option>');
                        ddlMatch.empty().append('<option selected="selected" value="0">Select Match</option>');
                       getMarket();

                        $.each(response, function () {

                            if (this['selected'] == true) {
                                ddlTournament.append($("<option class='green'></option>").val(this['value']).html(this['text']));
                            }
                            else {
                                ddlTournament.append($("<option class='red'></option>").val(this['value']).html(this['text']));
                            }

                        });
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });

                }
                else {
                    $('#datatable').DataTable().clear().draw();
                    ddlMarket.empty();
                    }



            });

            $("#ddlTournaments").change(function () {
                var fromDate1 = moment($("#fromdate").val(), 'DD/MM/YYYY hh:mm A');
                //var fromDate = moment($("#fromdate").val(), 'DD/MM/YYYY hh:mm A').utc();

                //var toDate = moment(fromDate).add(23, 'hours');
                //toDate = moment(toDate).add(59, 'minutes');
                //toDate = moment(toDate).add(59, 'seconds');
                var toDate1 = moment($("#todate").val(), 'DD/MM/YYYY hh:mm A');
                var c = fromDate1.toJSON().split(':');
                c.splice(c.length - 1, 1);
                fromDate = c.join(':') + ':00.000';

                var b = toDate1.toJSON().split(':');
                b.splice(b.length - 1, 1);
                toDate = b.join(':') + ':59.999';
                getMarket();

              if ($('option:selected', this).val() != "0") {

                   var fdata = new FormData();
                   fdata.append("PlatformId", $("#ddlPlatform option:selected").val());
                   fdata.append("PlatformName", $("#ddlPlatform option:selected").text());

                  fdata.append("tournamentID", $("#ddlTournaments option:selected").val());
                  fdata.append("FromDate", fromDate);
                  fdata.append("ToDate", toDate);
                $.ajax({
                     url: '@Url.Action("GetSatSportBfMatchList", "Satsport")',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fdata,
                    success: function (response) {
                        ddlMatch.empty().append('<option selected="selected" value="0">Select Match</option>');

                        $.each(response, function () {

                            if (this['selected'] == true) {
                                ddlMatch.append($("<option class='green'></option>").val(this['value']).html(this['text']));
                            }
                            else {
                                ddlMatch.append($("<option class='red'></option>").val(this['value']).html(this['text']));
                            }

                        });

                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });

                }
                else {
                    $('#datatable').DataTable().clear().draw();
                    ddlMarket.empty();
                    }



            });



            $("#ddlMatch").change(function () {

                ddlMarket.empty();
                getMarket();


            });


            function getMarket() {
                if ($('option:selected', this).val() != "0") {

                    var fromDate = moment($("#fromdate").val(), 'DD/MM/YYYY hh:mm A').utc();
                    //var fromDate = moment($("#fromdate").val(), 'DD/MM/YYYY hh:mm A').utc();

                    //var toDate = moment(fromDate).add(23, 'hours');
                    //toDate = moment(toDate).add(59, 'minutes');
                    //toDate = moment(toDate).add(59, 'seconds');
                    var toDate = moment($("#todate").val(), 'DD/MM/YYYY hh:mm A').utc();
                    // toDate = moment(fromDate).add(23, 'hours');
                    // toDate = moment(toDate).add(59, 'minutes');
                  //  toDate = moment(toDate).add(59, 'seconds');



                    var c = fromDate.toJSON().split(':');
                    c.splice(c.length - 1, 1);
                    fromDate = c.join(':') + ':00.000';

                    var b = toDate.toJSON().split(':');
                    b.splice(b.length - 1, 1);
                    toDate = b.join(':') + ':59.999';
                    console.log("local fromdate" + fromDate + "todate" + toDate);
                    var fdata = new FormData();
                     fdata.append("PlatformId", $("#ddlPlatform option:selected").val());
                       fdata.append("PlatformName", $("#ddlPlatform option:selected").text());


                    fdata.append("SportID", $("#ddlSports option:selected").val());
                    fdata.append("TournamentID", $("#ddlTournaments option:selected").val());
                    fdata.append("MatchID", $("#ddlMatch option:selected").val());
                    fdata.append("Fancy", $("#ddlFancy option:selected").val());
                    fdata.append("FromDate", fromDate);

                    fdata.append("ToDate", toDate);

                $.ajax({
                   url: '@Url.Action("GetSatSportMarketList", "Satsport")',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fdata,
                    success: function (response) {
                        ddlMarket.empty().append('<option selected="selected" value="0">Select Market</option>');

                        $.each(response, function () {

                            if (this['selected'] == true) {
                                ddlMarket.append($("<option class='green'></option>").val(this['value']).html(this['text']));
                            }
                            else {
                                ddlMarket.append($("<option class='red'></option>").val(this['value']).html(this['text']));
                            }

                        });
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });

                }
                else {
                    $('#datatable').DataTable().clear().draw();
                    ddlMarket.empty();
                    }
            }
            $('#btnLoadPL').bind(clickHandler, function (e) {


                e.preventDefault();

                offset = new Date().getTimezoneOffset() * -1;

                $("#displaylabel").empty();

            if ($("#ddlPlatform option:selected").val() == "0")
             {
                swal("Please Select Platform !!", "", "warning", {
                    button: "Close",
                });

            }
            else {

                $('#datatable_body').empty();
                $('#datatable_footer').empty();

                $('#datatable_footer').append('<tr>\
                            <th >ID</th>\
                            </tr>');


                var SelectedOption = "";


               var URL = '@Url.Action("GetFraudList", "Satsport")';

                var platformName = $("#ddlPlatform option:selected").text();
                var Settled = $("#ddlSettled option:selected").val();


               // var fromDate = moment($("#fromdate").val(), 'DD/MM/YYYY').utc();
                //var toDate = moment(fromDate).add(23, 'hours');
                //toDate = moment(toDate).add(59, 'minutes');
                //toDate = moment(toDate).add(59, 'seconds');

                var fromDate1 = moment($("#fromdate").val(), 'DD/MM/YYYY hh:mm A');
                //var fromDate = moment($("#fromdate").val(), 'DD/MM/YYYY hh:mm A').utc();

                //var toDate = moment(fromDate).add(23, 'hours');
                //toDate = moment(toDate).add(59, 'minutes');
                //toDate = moment(toDate).add(59, 'seconds');
                var toDate1 = moment($("#todate").val(), 'DD/MM/YYYY hh:mm A');
              console.log("local fromdate" + fromDate1 + "todate" + toDate1);

                if (selectedtimezone == "IST") {

                    offset = 330;



                }
                if (selectedtimezone == "DST") {

                    offset = 240;




                }



                //var c = fromDate1.toJSON().split(':');
                //c.splice(c.length - 1, 1);
                //fromDate1 = c.join(':') + ':00.000';

                //var b = toDate1.toJSON().split(':');
                //b.splice(b.length - 1, 1);
                //toDate1 = b.join(':') + ':59.999';
                var centralid = 0;

                fromDate1 = moment(fromDate1).format('YYYY-MM-DD');
                toDate1 =  moment(toDate1).format('YYYY-MM-DD');

                if ($("#ddlMarket option:selected").val() != "0") {

                    centralid = $("#ddlMarket option:selected").val().split("(")[1].split(")")[0];
                     MarketID = $("#ddlMarket option:selected").val().split("(")[0];

                }
                $("#datatable_footer").css("display", "none")
                $('#datatable').dataTable({
                    "processing": false,
                    "serverSide": false,
                    "bDestroy": true,
                    "bJQueryUI": true,
                    "pageLength": 20,
                    "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]],
                    "sEmptyTable": "Loading data from server",
                    "dom": 'lBfrtip',

                    "buttons": [
                        { extend: 'copy', className: 'btn btn-primary glyphicon glyphicon-duplicate' },
                        { extend: 'csv', className: 'btn btn-primary glyphicon glyphicon-save-file' },
                        { extend: 'excel', className: 'btn btn-primary glyphicon glyphicon-list-alt' },
                        { extend: 'pdf', className: 'btn btn-primary glyphicon glyphicon-file' },
                    ],
                    "ajax": {
                        'type': 'POST',
                        'url': URL,
                        'data': {
                            "PlatformId": $("#ddlPlatform option:selected").val(),
                            "PlatformName": platformName,
                            "MarketID": MarketID,

                            "appStartDate": fromDate1,
                            "appEndDate": toDate1,
                            "Offset": offset,
                            "appBFSportID": $("#ddlSports option:selected").val(),
                            "appBFTournamentID": $("#ddlTournaments option:selected").val(),
                            "appBFMatchID": $("#ddlMatch option:selected").val(),
                            "appBFCentralID": centralid

                        },
                    },
                    "columns": [
                        {
                            "render": function (data, type, row, meta) {
                                return "<p class='text-xs font-weight-bold mb-0'>" + data + "</p>";
                            }
                        },
                        {
                            "render": function (data, type, row, meta) {

                                return "<p class='text-xs font-weight-bold mb-0'>" + data + "</p>";
                            }
                        },
                        {
                            "render": function (data, type, row, meta) {
                                return "<p class='text-xs font-weight-bold mb-0'>" + data + "</p>";
                            }
                        },
                        {
                            "render": function (data, type, row, meta) {
                                return "<p class='text-xs font-weight-bold mb-0'>" + data + "</p>";
                            }
                        },
                        {
                            "render": function (data, type, row, meta) {
                                return "<p class='text-xs font-weight-bold mb-0'>" + data + "</p>";
                            }
                        },
                        {
                            "render": function (data, type, row, meta) {
                                return "<p class='text-xs font-weight-bold mb-0'>" + data + "</p>";
                            }
                        },
                        {
                            "render": function (data, type, row, meta) {
                                if (data <=1) {

                                    return "<span class='text-xs font-weight-bold mb-0 green'>" + "Doubtfull" + "</span>";
                                }
                                else {
                                    return "<span class='text-xs font-weight-bold mb-0 red'>" + "Invalid" + "</span>";
                                }
                            }
                        },
                        {
                            "render": function (data, type, row, meta) {
                                return "<p class='text-xs font-weight-bold mb-0'>" + data + "</p>";
                            }
                        },
                        {
                            "render": function (data, type, row, meta) {
                                return "<p class='text-xs font-weight-bold mb-0'>" + data + "</p>";
                            }
                        },
                    ],
                    "initComplete": function () {
                        this.api().columns().every(function () {
                            var column = this;

                            var d = column[0];
                            if (d[0] == 0) {

                                var select = $('<select class="select2 form-control ddlstyle"><option value="">Select</option></select>')
                                    .appendTo($(column.footer()).empty())
                                    .on('change', function () {
                                        var val = $.fn.dataTable.util.escapeRegex(
                                            $(this).val()
                                        );

                                        column
                                            .search(val ? '^' + val + '$' : '', true, false)
                                            .draw();
                                    });

                                column.data().unique().sort().each(function (d, j) {
                                    select.append('<option value="' + d + '">' + d + '</option>')

                                });
                                $("#datatable_footer").css("display", "block");
                            }
                            else {


                            }

                        });
                    },
                    columnDefs: [
                        {
                            "targets": 9,
                            "data": null,
                            "defaultContent": "<a class='fa fa-list btnselect' onclick='' title='Güncelle' href='javascript:;'>View</a>"

                        }
                    ]
                });

            }






            });

        });
    </script>

}





<div class="container-fluid px-3 px-sm-4">
    <div class="card  mb-3 mb-sm-4 blur shadow-blur">
        <div class="card-body">
            <form action="#" class="form-horizontal">
                <div class="row g-2">
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group row">
                            <label class="col-md-12 ">Platform</label>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <select id="ddlPlatform" class="select2 form-control" data-placeholder="Choose a Platform...">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group row">
                            <label class="col-md-12 ">From Date</label>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <input type="text" id="fromdate" onkeydown="return false;" class="form-control datepicker-report" placeholder="dd/mm/yyyy">
                                    <span class="input-group-text text-body"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6 col-md-3">
                        <div class="form-group row">
                            <label class="col-md-12 ">To Date</label>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <input type="text" id="todate" onkeydown="return false;" class="form-control datepicker-report" placeholder="dd/mm/yyyy">
                                    <span class="input-group-text text-body"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group row">
                            <label class="col-md-12 ">Sports</label>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <select id="ddlSports" class="select2 form-control" data-placeholder="sports">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group row">
                            <label class="col-md-12 ">Competetion</label>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <select id="ddlTournaments" class="select2 form-control" data-placeholder="tournaments">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group row">
                            <label class="col-md-12 ">Event</label>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <select id="ddlMatch" class="select2 form-control" data-placeholder="match">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group row">
                            <label class="col-md-12 ">Market</label>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <select id="ddlMarket" class="select2 form-control" data-placeholder="market">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group row">
                            <label class="col-md-12 d-none d-md-block">&nbsp;&nbsp;&nbsp;</label>
                            <div class="col-md-12">
                                <input type="submit" class="btn-primary btn mb-0 w-100" id="btnLoadPL" value="Search" />
                            </div>                            
                        </div>
                    </div>

                </div>
            </form>

        </div>
    </div>
    <div class="card mb-4">
        <div class="card-body">
            <div class="table-responsive p-0">
                <table id="datatable" class="table align-items-center mb-0 border-0 dataTable w-100">
                    <thead>
                        <tr>




                            <th class="">ID</th>
                            <th class="">Name</th>
                            <th class="">Details</th>
                            <th class="">Selection</th>
                            <th class="">Rate</th>
                            <th class="">IsBack</th>
                            <th class="">Status</th>
                            <th class="">Stake</th>
                            <th class="">Placed Time</th>
                            <th class=""></th>
                        </tr>
                    </thead>
                    <tbody id="datatable_body"></tbody>
                    <tfoot id="datatable_footer">
                        <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>

                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>
</div>


@section FooterFiles{

    <!-- jQuery  -->
    <script src="~/plugins/moment/moment.min.js"></script>

    <!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script>-->
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>



    <!--Datepicker-->
    <script src="~/plugins/bootstrap-datetimepicker/dist/js/datepicker.min.js?v=n3JjkWy2QIc2IH5rOc8Ty4hwyMRPfOdWWfLQWrSi5rY"></script>
    <script src="~/plugins/bootstrap-datetimepicker/dist/js/datepicker.en.js?v=7UnPR3AWcMawuuUmM6DTjsaKdLBKiimReIj6-cBfeZI"></script>


    <!-- jQuery
    <script src="~/plugins/waypoints/lib/jquery.waypoints.js"></script>
    <script src="~/plugins/counterup/jquery.counterup.min.js"></script> -->
    <!-- skycons
    <script src="~/plugins/skyicons/skycons.min.js"></script> -->

    <script>
        jQuery(document).ready(function ($) {
            /* Counter Up
            $('.counter').counterUp({
                delay: 100,
                time: 1200
            });*/


            if (jQuery('.datepicker-report').datepicker().data('datepicker') !== undefined) {
                var todayDate = moment();
                $("#fromdate").datepicker().data('datepicker').selectDate(new Date(todayDate.startOf('day')));
                //$("#fromdate").datepicker().data('datepicker').selectDate(new Date(todayDate.endOf('day')));
                $("#todate").datepicker().data('datepicker').selectDate(new Date(todayDate.endOf('day')));
            }
        });

        jQuery('.datepicker-report').datepicker({
            language: 'en',
            dateFormat: 'dd/mm/yyyy',
            timepicker: false,
            dateTimeSeparator: " ",
            timeFormat: "hh:ii AA",
            autoClose: true
        });

    </script>

}
