﻿@model NewReportingService.Models.FraudViewModel

@{
    ViewData["Title"] = "Fraud Detection Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src='/select2/jquery-3.2.1.min.js' type='text/javascript'></script>
<script src='/select2/dist/js/select2.min.js' type='text/javascript'></script>

<link href='/select2/dist/css/select2.min.css' rel='stylesheet' type='text/css'>

<style>
    .select2-dropdown.select2-dropdown--below {
        width: 148px !important;
    }

    .select2-container--default .select2-selection--single {
        padding: 6px;
        height: 37px;
        width: 148px;
        font-size: 1.2em;
        position: relative;
    }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            background-image: -khtml-gradient(linear, left top, left bottom, from(#cb0c9f), to(#030303));
            background-image: -moz-linear-gradient(top, #cb0c9f, #030303);
            background-image: -ms-linear-gradient(top, #cb0c9f, #030303);
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cb0c9f), color-stop(100%, #030303));
            background-image: -webkit-linear-gradient(top, #cb0c9f, #030303);
            background-image: -o-linear-gradient(top, #cb0c9f, #030303);
            background-image: linear-gradient(#cb0c9f, #030303);
            width: 40px;
            color: #fff;
            font-size: 1.3em;
            padding: 4px 12px;
            height: 27px;
            position: absolute;
            top: 0px;
            right: 0px;
            width: 20px;
        }

    .blink-bg {
        color: #fff;
        padding: 10px;
        display: inline-block;
        border-radius: 5px;
        animation: blinkingBackground 2s infinite;
    }

    .socket-bg {
        color: #000;
        padding: 5px;
        display: inline-block;
        border-radius: 2px;
    }

    .ddlstyle {
        width: 25%;
    }

    .red {
        color: red;
    }

    .green {
        color: green;
    }

    th, td {
        padding: 5px 10px !important;
        border-bottom: 1px solid #111;
    }

    .card-body {
        padding: 0.25rem 1.25rem 0.25rem 1.25rem;
    }

    .dt-buttons {
        margin-left: 12px;
    }

    .fa-2x {
        font-size: 18px;
    }
</style>

<div class="row">
    <div class="col-xl-12">

        <!-- card -->

        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Fraud Detection Details</h3>
            </div>

            <!-- card-body -->
        </div>
        <!-- card -->

    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"></h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div><h4><b>Match Details</b></h4></div>
                    <div>@ViewBag.name</div>
                    <table>
                        <tr><td>centreID</td><td>runnerID</td><td colspan="3">Back Rate</td><td colspan="3">LayRate</td><td>created date</td></tr>

                        @foreach (var item in Model.details)
                        {
                            <tr>
                                <td class="text-xs font-weight-bold mb-0">@item.CenterID</td>
                                <td class="text-xs font-weight-bold mb-0">@item.RunnerID</td>
                                <td style="background-color: #a5d6fa;"><span class="socket-bg text-xs font-weight-bold mb-0">@item.backrate1</span><br /><span class="socket-bg text-xs font-weight-bold mb-0 ">@item.backvolume1</span></td>
                                <td style="background-color: #a5d6fa;"><span class="socket-bg text-xs font-weight-bold mb-0">@item.backrate2</span><br /><span class="socket-bg text-xs font-weight-bold mb-0">@item.backvolume2</span></td>
                                <td style="background-color: #a5d6fa;"><span class="socket-bg text-xs font-weight-bold mb-0">@item.backrate3</span><br /><span class="socket-bg text-xs font-weight-bold mb-0">@item.backvolume3</span></td>
                                <td style="background-color: #f6bcc9;">
                                    <span class="socket-bg text-xs font-weight-bold mb-0">@item.layrate1</span><br /><span class="socket-bg text-xs font-weight-bold mb-0">
                                        @item.layvolume1
                                    </span>
                                </td>
                                <td style="background-color: #f6bcc9"><span class="socket-bg text-xs font-weight-bold mb-0">@item.layrate2</span><br /><span class="socket-bg text-xs font-weight-bold mb-0">@item.layvolume2</span></td>
                                <td style="background-color: #f6bcc9;"><span class="socket-bg text-xs font-weight-bold mb-0">@item.layrate3</span><br /><span class="socket-bg text-xs font-weight-bold mb-0">@item.layvolume3</span></td>
                                <td style=""><span class="socket-bg text-xs font-weight-bold mb-0">@item.RateDate</span></td>


                            </tr>

                        }
                    </table>
                </div>
            </div>



        </div>
    </div>

</div>