﻿
@{
    ViewData["Title"] = "BetList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@section headFiles{

    <!--Datepicker-->
    <link href="~/plugins/bootstrap-datetimepicker/dist/css/datepicker.min.css?v=q0wZgzQ6Ru67x-pIe9IAztrnlHNHyZui3BMwqUYDnpI" rel="stylesheet">

    <link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css" rel="stylesheet">

    <style>
        .ddlstyle {
            width: 25%;
        }

        .paginate_button {
            font-size: 12px
        }

        .dataTables_info {
            font-size: 12px
        }

        .red {
            color: red;
        }

        .green {
            color: green;
        }

        th, td {
            padding: 5px 10px !important;
            border-bottom: 1px solid #111;
        }

        .py-6 {
            padding-top: 1rem !important;
            padding-bottom: 1rem !important;
        }

        .card-body {
            padding: 0.25rem 1.25rem 0.25rem 1.25rem;
        }

        .dt-buttons {
            margin-left: 12px;
        }
    </style>

    <script>


        var offset = 0;
        var selectedtimezone = "";
        $(document).ready(function () {

            var clickHandler = "click";

            if ('ontouchstart' in document.documentElement) {
                clickHandler = "touchstart";
            }
            var ddlMarket = $("#ddlMarket");
            var ddlSports = $("#ddlSports");
            var ddlTournament = $("#ddlTournaments");
            var ddlMatch = $("#ddlMatch");
            var ddlSettled = $("#ddlSettled");

            ddlSports.empty().append('<option selected="selected" value="0">Select Sport</option>');
            ddlMatch.empty().append('<option selected="selected" value="0">Select Match</option>');
            ddlTournament.empty().append('<option selected="selected" value="0">Select Tournament</option>');

            $("select.formtimezone").change(function () {

                 selectedtimezone = "";
                 selectedtimezone = $(this).children("option:selected").val();

            });
            $("#ddlFancy").change(function () {
                if ($("#ddlPlatform option:selected").val() == "0") {
                    swal("Please Select Platform !!", "", "warning", {
                        button: "Close",
                    });

                } else {
                    getMarket();
                }

            });

            $('#datatable').DataTable();

            var ddlPlatform = $("#ddlPlatform");
            function binddropdown() {

                 $.ajax({
                    url: '@Url.Action("GetJetFairSportList", "JetFair")',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fdata,
                    success: function (response) {
                        ddlSports.empty().append('<option selected="selected" value="0">Select Sports</option>');
                        ddlTournament.empty().append('<option selected="selected" value="0">Select Tournament</option>');
                        ddlMatch.empty().append('<option selected="selected" value="0">Select Match</option>');
                        ddlMarket.empty().append('<option selected="selected" value="0">Select Market</option>');

                        $.each(response, function () {

                            if (this['selected'] == true) {
                                ddlSports.append($("<option class='green'></option>").val(this['value']).html(this['text']));
                            }
                            else {
                                ddlSports.append($("<option class='red'></option>").val(this['value']).html(this['text']));
                            }

                        });
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });

            }
            binddropdown();

              


          $("#ddlSports").change(function () {


             if ($('option:selected', this).val() != "0") {

                    var fdata = new FormData();
              fdata.append("PlatformId", $("#ddlPlatform option:selected").val());
              fdata.append("PlatformName", $("#ddlPlatform option:selected").text());
              fdata.append("sportID", $("#ddlSports option:selected").val());

                $.ajax({
                   url: '@Url.Action("GetSatSportTournamentList", "Satsport")',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fdata,
                    success: function (response) {
                        ddlTournament.empty().append('<option selected="selected" value="0">Select Tournament</option>');
                        ddlMatch.empty().append('<option selected="selected" value="0">Select Match</option>');
                        getMarket();

                        $.each(response, function () {

                            if (this['selected'] == true) {
                                ddlTournament.append($("<option class='green'></option>").val(this['value']).html(this['text']));
                            }
                            else {
                                ddlTournament.append($("<option class='red'></option>").val(this['value']).html(this['text']));
                            }

                        });
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });

                }
                else {
                    $('#datatable').DataTable().clear().draw();
                    ddlMarket.empty();
                    }



            });

            $("#ddlTournaments").change(function () {

                getMarket();

              if ($('option:selected', this).val() != "0") {

                   var fdata = new FormData();
                   fdata.append("PlatformId", $("#ddlPlatform option:selected").val());
                   fdata.append("PlatformName", $("#ddlPlatform option:selected").text());

                  fdata.append("tournamentID", $("#ddlTournaments option:selected").val());

                $.ajax({
                     url: '@Url.Action("GetSatSportMatchList", "Satsport")',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fdata,
                    success: function (response) {
                        ddlMatch.empty().append('<option selected="selected" value="0">Select Match</option>');

                        $.each(response, function () {

                            if (this['selected'] == true) {
                                ddlMatch.append($("<option class='green'></option>").val(this['value']).html(this['text']));
                            }
                            else {
                                ddlMatch.append($("<option class='red'></option>").val(this['value']).html(this['text']));
                            }

                        });

                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });

                }
                else {
                    $('#datatable').DataTable().clear().draw();
                    ddlMarket.empty();
                    }



            });



            $("#ddlMatch").change(function () {

                ddlMarket.empty();
                getMarket();


            });

            function getMarket() {
                if ($('option:selected', this).val() != "0") {

                    var fromDate = moment($("#fromdate").val(), 'DD/MM/YYYY hh:mm A').utc();

                    var toDate = moment($("#todate").val(), 'DD/MM/YYYY hh:mm A').utc();




                    var c = fromDate.toJSON().split(':');
                    c.splice(c.length - 1, 1);
                    fromDate = c.join(':') + ':00.000';

                    var b = toDate.toJSON().split(':');
                    b.splice(b.length - 1, 1);
                    toDate = b.join(':') + ':59.999';

                    var fdata = new FormData();
                     fdata.append("PlatformId", $("#ddlPlatform option:selected").val());
                       fdata.append("PlatformName", $("#ddlPlatform option:selected").text());


                    fdata.append("SportID", $("#ddlSports option:selected").val());
                    fdata.append("TournamentID", $("#ddlTournaments option:selected").val());
                    fdata.append("MatchID", $("#ddlMatch option:selected").val());
                    fdata.append("Fancy", $("#ddlFancy option:selected").val());
                    fdata.append("FromDate", fromDate);

                    fdata.append("ToDate", toDate);

                $.ajax({
                   url: '@Url.Action("GetSatSportMarketList", "Satsport")',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fdata,
                    success: function (response) {
                        ddlMarket.empty().append('<option selected="selected" value="0">Select Market</option>');

                        $.each(response, function () {

                            if (this['selected'] == true) {
                                ddlMarket.append($("<option class='green'></option>").val(this['value']).html(this['text']));
                            }
                            else {
                                ddlMarket.append($("<option class='red'></option>").val(this['value']).html(this['text']));
                            }

                        });
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });

                }
                else {
                    $('#datatable').DataTable().clear().draw();
                    ddlMarket.empty();
                    }
            }
            $('#btnLoadPL').bind(clickHandler,function (e) {
                e.preventDefault();

                offset = new Date().getTimezoneOffset() * -1;

                $("#displaylabel").empty();

            if ($("#ddlPlatform option:selected").val() == "0")
             {
                swal("Please Select Platform !!", "", "warning", {
                    button: "Close",
                });

            }
            else {

                $('#datatable_body').empty();



                var SelectedOption = "";


               var URL = '@Url.Action("GetSatSportBetList", "Satsport")';
                var MarketID = $("#ddlMarket option:selected").val().split("(")[0];
                var platformName = $("#ddlPlatform option:selected").text();
                var Settled = $("#ddlSettled option:selected").val();


                var fromDate = moment($("#fromdate").val(), 'DD/MM/YYYY hh:mm A').utc();

                var toDate = moment($("#todate").val(), 'DD/MM/YYYY hh:mm A').utc();
                console.log("local fromdate" + fromDate + "todate" + toDate);

                if (selectedtimezone == "IST") {

                    offset = 330;



                }
                if (selectedtimezone == "DST") {

                    offset = 240;




                }



                var c = fromDate.toJSON().split(':');
                c.splice(c.length - 1, 1);
                fromDate = c.join(':') + ':00.000';

                var b = toDate.toJSON().split(':');
                b.splice(b.length - 1, 1);
                toDate = b.join(':') + ':59.999';


                $('#datatable').dataTable({
                    "processing": false,
                    "serverSide": false,
                    "bDestroy": true,
                    "bJQueryUI": true,
                    "pageLength": 20,
                    "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]],
                    "sEmptyTable": "Loading data from server",
                    "dom": 'lBfrtip',
                    "buttons": [
                        { extend: 'copy', className: 'btn btn-primary glyphicon glyphicon-duplicate' },
                        { extend: 'csv', className: 'btn btn-primary glyphicon glyphicon-save-file' },
                        { extend: 'excel', className: 'btn btn-primary glyphicon glyphicon-list-alt' },
                        { extend: 'pdf', className: 'btn btn-primary glyphicon glyphicon-file' },
                    ],
                    "ajax": {
                        'type': 'POST',
                        'url': URL,
                        'data': {
                            "PlatformId": $("#ddlPlatform option:selected").val(),
                            "PlatformName": platformName,
                            "MarketID": MarketID,
                            "Settled":Settled,
                            "FromDate": fromDate,
                            "ToDate": toDate,
                            "Offset": offset,
                            "SportID": $("#ddlSports option:selected").val(),
                            "TournamentID": $("#ddlTournaments option:selected").val(),
                            "MatchID": $("#ddlMatch option:selected").val(),
                            "Fancy": $("#ddlFancy option:selected").val()
                        },
                    },
                    "columns": [
                        {
                            "render": function (data, type, row, meta) {
                               // return (row[0])
                                return "<p class='text-xs font-weight-bold mb-0'>" + data + "</p>";
                            }
                        },
                        {
                            "render": function (data, type, row, meta) {

                                return "<p class='text-xs font-weight-bold mb-0'>" + data + "</p>";
                            }
                        },
                        {
                            "render": function (data, type, row, meta) {
                                return "<p class='text-xs font-weight-bold mb-0'>" + data + "</p>";
                            }
                        },
                        {
                            "render": function (data, type, row, meta) {
                                return "<p class='text-xs font-weight-bold mb-0'>" + data + "</p>";
                            }
                        },
                        {
                            "render": function (data, type, row, meta) {
                                return "<p class='text-xs font-weight-bold mb-0'>" + data + "</p>";
                            }
                        },
                        {
                            "render": function (data, type, row, meta) {
                                return "<p class='text-xs font-weight-bold mb-0'>" + data + "</p>";
                            }
                        },
                        {
                            "render": function (data, type, row, meta) {
                                if (data >= 0)
                                    return "<span class='text-xs font-weight-bold mb-0 green'>" + data + "</span>";
                                else
                                    return "<span class='text-xs font-weight-bold mb-0 red'>" + data + "</span>";
                            }
                        },
                        {
                            "render": function (data, type, row, meta) {
                                return "<p class='text-xs font-weight-bold mb-0'>" + data + "</p>";
                            }
                        },
                        {
                            "render": function (data, type, row, meta) {
                                return "<p class='text-xs font-weight-bold mb-0'>" + data + "</p>";
                            }
                        },
                    ],
                    "initComplete": function () {
                        this.api().columns().every(function () {
                            var column = this;
                            var d = column[0];
                            if (d[0] == 0) {

                                var select = $('<select class="select2 form-control ddlstyle"><option value="">Select</option></select>')
                                    .appendTo($(column.footer()).empty())
                                    .on('change', function () {
                                        var val = $.fn.dataTable.util.escapeRegex(
                                            $(this).val()
                                        );

                                        column
                                            .search(val ? '^' + val + '$' : '', true, false)
                                            .draw();
                                    });

                                column.data().unique().sort().each(function (d, j) {
                                    select.append('<option value="' + d + '">' + d + '</option>')
                                });
                            }
                            else {


                            }

                        });
                    },
                    columnDefs: [
                        {
                            targets: 1,
                            className: "text-right"
                        }
                    ]
                });

            }






            });

        });
    </script>

}





<div class="container-fluid py-4">
    <div class="row">
        <div class="card-body">
            @*<div class="card-header">
                    <h3 class="card-title">Bet List</h3>
                </div>*@
            <div class="row">

                <div class="col-auto card-body">
                    <form action="#" class="form-horizontal">
                        <div class="row">
                            
                            <div class="col-sm-6 col-md-2">
                                <div class="form-group row">
                                    <label class="">Time Zone</label>
                                    <div class="">
                                        <div class="input-group">
                                            <select id="formtimezone" onkeydown="return false;" class="formtimezone form-control input-group-append" placeholder="">
                                                <option>
                                                    Default
                                                </option>
                                                <option>
                                                    IST
                                                </option>
                                                <option>
                                                    GST
                                                </option>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group row">
                                    <label class="">Start Date</label>
                                    <div class="">
                                        <div class="input-group">
                                            <input type="text" id="fromdate" onkeydown="return false;" class="form-control datepicker-report" placeholder="dd/mm/yyyy">
                                            <span class="input-group-text text-body"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>

                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-6 col-md-3">
                                <div class="form-group row">
                                    <label class="col-md">End Date</label>
                                    <div class="">
                                        <div class="input-group">
                                            <input type="text" id="todate" onkeydown="return false;" class="form-control datepicker-report" placeholder="dd/mm/yyyy">
                                            <span class="input-group-text text-body"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>

                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-6 col-md-2">
                                <div class="form-group row">
                                    <label class="">Fancy </label>
                                    <div class="">
                                        <div class="input-group">
                                            <select id="ddlFancy" class="form-control" data-placeholder="fancy">
                                                <option value="0">NO</option>
                                                <option value="1">YES</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-sm-6 col-md-2">
                                    <div class="form-group row">
                                        <label class="col-md-12 control-label col-form-label">Bet From</label>
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <select id="ddlBetFrom" class="select2 form-control" data-placeholder="BetFrom">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                            <div class="col-sm-6 col-md-2">
                                <div class="form-group row">
                                    <label class="">Sports</label>
                                    <div class="">
                                        <div class="input-group">
                                            <select id="ddlSports" class="form-control" data-placeholder="sports">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-2">
                                <div class="form-group row">
                                    <label class="">Tournaments</label>
                                    <div class="">
                                        <div class="input-group">
                                            <select id="ddlTournaments" class="form-control" data-placeholder="tournaments">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-2">
                                <div class="form-group row">
                                    <label class="">Match</label>
                                    <div class="">
                                        <div class="input-group">
                                            <select id="ddlMatch" class="select2 form-control" data-placeholder="match">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-2">
                                <div class="form-group row">
                                    <label class="">Market</label>
                                    <div class="">
                                        <div class="input-group">
                                            <select id="ddlMarket" class="select2 form-control" data-placeholder="market">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-2">
                                <div class="form-group row">
                                    <label class="">Settled or Unsettled </label>

                                    <div class="input-group">
                                        <select id="ddlSettled" class="select2 form-control" data-placeholder="settled\unsettled">
                                            <option value="ALL">ALL</option>
                                            <option value="1">Settled</option>

                                            <option value="0">UnSettled</option>
                                        </select>

                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-1">
                                <div class="form-group row">
                                    <label class="">&nbsp;&nbsp;&nbsp;</label>
                                    <input type="submit" class="btn-primary btn" id="btnLoadPL" value="Search" />
                                </div>
                            </div>




                        </div>
                    </form>
                </div>

                <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
                    <div class="nav-wrapper position-relative end-0">


                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">

                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table id="datatable" class="table align-items-center mb-0 border-0">
                            <thead>
                                <tr>


                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Details</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Selection</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Rate</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Stake</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">P\L</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Settled</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Placed Time</th>
                                </tr>
                            </thead>
                            <tbody id="datatable_body"></tbody>
                            <tfoot>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Details</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Selection</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Rate</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Stake</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">P\L</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Settled</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Placed Time</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>

@section FooterFiles{

    <!-- jQuery  -->
    <script src="~/plugins/moment/moment.min.js"></script>

    <!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script>-->
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>



    <!--Datepicker-->
    <script src="~/plugins/bootstrap-datetimepicker/dist/js/datepicker.min.js?v=n3JjkWy2QIc2IH5rOc8Ty4hwyMRPfOdWWfLQWrSi5rY"></script>
    <script src="~/plugins/bootstrap-datetimepicker/dist/js/datepicker.en.js?v=7UnPR3AWcMawuuUmM6DTjsaKdLBKiimReIj6-cBfeZI"></script>


    <!-- jQuery
    <script src="~/plugins/waypoints/lib/jquery.waypoints.js"></script>
    <script src="~/plugins/counterup/jquery.counterup.min.js"></script> -->
    <!-- skycons
    <script src="~/plugins/skyicons/skycons.min.js"></script> -->

    <script>
        jQuery(document).ready(function ($) {
            /* Counter Up
            $('.counter').counterUp({
                delay: 100,
                time: 1200
            });*/


            if (jQuery('.datepicker-report').datepicker().data('datepicker') !== undefined) {
                var todayDate = moment();
                $("#fromdate").datepicker().data('datepicker').selectDate(new Date(todayDate.startOf('day')));
                //$("#fromdate").datepicker().data('datepicker').selectDate(new Date(todayDate.endOf('day')));
                $("#todate").datepicker().data('datepicker').selectDate(new Date(todayDate.endOf('day')));
            }
        });

        jQuery('.datepicker-report').datepicker({
            language: 'en',
            dateFormat: 'dd/mm/yyyy',
            timepicker: true,
            dateTimeSeparator: " ",
            timeFormat: "hh:ii AA",
            autoClose: true
        });

    </script>

}
