﻿
@{
    ViewData["Title"] = "Daily Report";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@section headFiles{

    <!--Datepicker-->
    <link href="~/plugins/bootstrap-datetimepicker/dist/css/datepicker.min.css?v=q0wZgzQ6Ru67x-pIe9IAztrnlHNHyZui3BMwqUYDnpI" rel="stylesheet">

    <link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css" rel="stylesheet">
    <script src='/select2/jquery-3.2.1.min.js' type='text/javascript'></script>
    <script src='/select2/dist/js/select2.min.js' type='text/javascript'></script>

    <link href='/select2/dist/css/select2.min.css' rel='stylesheet' type='text/css'>

    <style>
        .select2-dropdown.select2-dropdown--below {
            /*width: 148px !important;*/
        }

        .select2-container--default .select2-selection--single {
            padding: 6px;
            height: 37px;
            width: 148px;
            font-size: 1.2em;
            position: relative;
        }

            .select2-container--default .select2-selection--single .select2-selection__arrow {
                background-image: -khtml-gradient(linear, left top, left bottom, from(#cb0c9f), to(#030303));
                background-image: -moz-linear-gradient(top, #cb0c9f, #030303);
                background-image: -ms-linear-gradient(top, #cb0c9f, #030303);
                background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cb0c9f), color-stop(100%, #030303));
                background-image: -webkit-linear-gradient(top, #cb0c9f, #030303);
                background-image: -o-linear-gradient(top, #cb0c9f, #030303);
                background-image: linear-gradient(#cb0c9f, #030303);
                width: 40px;
                color: #fff;
                font-size: 1.3em;
                padding: 4px 12px;
                height: 27px;
                position: absolute;
                top: 0px;
                right: 0px;
                width: 20px;
            }



        .ddlstyle {
            width: 100%;
        }

        .paginate_button {
            font-size: 12px
        }

        .dataTables_info {
            font-size: 12px
        }

        .red {
            color: red;
            line-height: 1;
        }

        .displaylabel {
            display: flex;
            width: 100%;
            /*justify-content: flex-end;*/
        }

        .py1-6 {
            padding-top: 4rem !important;
        }

        .green {
            color: green;
            line-height: 1;
        }

        .card-body {
            padding: 0.25rem 1.25rem 0.25rem 1.25rem;
        }

        .dt-buttons {
            margin-left: 12px;
        }
    </style>
    <style media="all" type="text/css">
        .alignRight {
            text-align: right;
        }
    </style>


    <script>
        function getUtcOffset(date) {
            return moment(date)
                .subtract(
                    new Date().getTimezoneOffset(),
                    'minutes')
                .utc()
        }
        $(document).ready(function () {

           
            $('select').select2();



            $("#lblmessage").css("display", "none")
            $("#lblmessage1").css("display", "none")

            var selectedtimezone = "";
            var clickHandler = "click";

            if ('ontouchstart' in document.documentElement) {
                clickHandler = "touchstart";
            }

            $("select.formtimezone").change(function () {

                 selectedtimezone = "";
                 selectedtimezone = $(this).children("option:selected").val();

            });
            $("#custom").click(function () {
                $("#startdate").css("display", "block");
                $("#enddate").css("display", "block");

            });
            $("#today").click(function () {
                if ($('option:selected', this).val() != "0") {
                    var start = moment().startOf('day'); // set to 12:00 am today
                    var end = moment().endOf('day');
                  var  fromDate = moment(start, 'DD/MM/YYYY hh:mm A');
                 var   toDate = moment(end, 'DD/MM/YYYY hh:mm A');

                    $("#startdate").css("display", "none");
                    $("#enddate").css("display", "none");
                    getLoadData(fromDate, toDate);
                } else {
                    $("#displaylabel").empty();
                    $("#GameList").empty();
                }

            });
            $("#yesterday").click(function () {
                if ($('option:selected', this).val() != "0") {
                    var start = moment().startOf('day'); // set to 12:00 am today
                    var end = moment().endOf('day');
                    var start1 = start.subtract(1, "days");
                    var end1 = end.subtract(1, "days");
                 var   fromDate = moment(start1, 'DD/MM/YYYY hh:mm A');
                  var  toDate = moment(end1, 'DD/MM/YYYY hh:mm A');






                    $("#startdate").css("display", "none");
                    $("#enddate").css("display", "none");

                    console.log(fromDate + "-" + toDate);
                    getLoadData(fromDate,toDate);
                } else {
                    $("#displaylabel").empty();
                    $("#GameList").empty();
                }

            });

            $('#datatable').DataTable();
            @*var ddlPlatform = $("#ddlPlatform");
             function binddropdown() {

                $.ajax({
                    url: '@Url.Action("GetSatSportPlatformList", "RunningAnalysis")',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: "{}",
                    success: function (response) {
                        ddlPlatform.empty().append('<option selected="selected" value="0">Select Platform</option>');


                        $.each(response, function () {


                            ddlPlatform.append($("<option></option>").val(this['value']).html(this['text']));
                        });
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });

            }
            binddropdown();

                $("#ddlPlatform").change(function () {

                    $('#datatable').DataTable().clear().draw();





                });*@


            function getLoadData(fromDate,toDate) {
                     $("#displaylabel").empty();


                if ($("#ddlPlatform option:selected").val() == "0")
             {
                swal("Please Select Platform !!", "", "warning", {
                    button: "Close",
                });

            }
            else {

                $('#datatable_body').empty();
                $('#datatable_footer').empty();



                var SelectedOption = "";


                    var date1 = null;
                    var date2 = null;

                if (selectedtimezone == "IST") {

                    var currentTime = new Date();
                    var currentOffset = currentTime.getTimezoneOffset();
                    console.log("current offset" + currentOffset);
                    var ISTOffset = 330;   // IST offset UTC +5:30
                    var fromDate = new Date(moment(fromDate, 'DD/MM/YYYY hh:mm A') - (ISTOffset + currentOffset) * 60000);
                    console.log("before  " + fromDate);
                    var toDate = new Date(moment(toDate, 'DD/MM/YYYY hh:mm A') - (ISTOffset + currentOffset) * 60000);


                    var c = fromDate.toJSON().split(':');
                    c.splice(c.length - 1, 1);
                    date1 = c.join(':') + ':00.000';
                    var b = toDate.toJSON().split(':');
                    b.splice(b.length - 1, 1);
                    date2 = b.join(':') + ':59.999';
                    console.log("IST  " + fromDate + "to Date   " + toDate);


                }
                else if (selectedtimezone == "GST") {

                    var currentTime = new Date();
                    var currentOffset = currentTime.getTimezoneOffset();
                    console.log("current offset" + currentOffset);
                    var ISTOffset = 240;   //
                    var fromDate = new Date(moment(fromDate, 'DD/MM/YYYY hh:mm A') - (ISTOffset + currentOffset) * 60000);
                    var toDate = new Date(moment(toDate, 'DD/MM/YYYY hh:mm A') - (ISTOffset + currentOffset) * 60000);



                    var c = fromDate.toJSON().split(':');
                    c.splice(c.length - 1, 1);

                    date1 = c.join(':') + ':00.000';
                    var b = toDate.toJSON().split(':');

                    b.splice(b.length - 1, 1);
                    date2 = b.join(':') + ':59.999';
                    console.log("DST   " + fromDate + "to Date   " + toDate);


                } else {
                    var currentTime = new Date();
                    var currentOffset = currentTime.getTimezoneOffset();
                    var fromDate = new Date(moment(fromDate, 'DD/MM/YYYY hh:mm A') - currentOffset * 60000);
                    var toDate = new Date(moment(toDate, 'DD/MM/YYYY hh:mm A') - currentOffset * 60000);

                    var c = fromDate.toJSON().split(':');
                    c.splice(c.length - 1, 1);
                    date1 = c.join(':') + ':00.000';

                    var b = toDate.toJSON().split(':');
                    b.splice(b.length - 1, 1);
                    date2 = b.join(':') + ':59.999';
                    console.log("Default  " + fromDate + "to Date   " + toDate);

                }
                var URL = '@Url.Action("getDailyReport", "PaymentGateway")';





                var columns = [];
                $.ajax({
                    url: URL,
                    type: "POST",
                    'data': {

                        "StartDate": date1,
                        "EndDate": date2

                      },


                    success: function (data) {
                        $("#displaylabel").empty();
                        $("#displaylabel1").empty();
                        //$("#lblmessage").css("display", "block")
                        //$("#lblmessage1").css("display", "block")


                        //TotalLabel = "<label  class='green ' > Deposit :  " + data.creditamount + "</label ><label  class='red'>  Withdrawal :  " + data.debitamount + "</label ><label class='green'> New Resgistrations :  " + data.usercount + "</label> ";
                        ////   TotalLabel1 = "<label class='red' >Please note that the reports data loaded below are UTC Indian time zone offset is IST-05:30</label >"
                        //if ((data.creditamount - data.debitamount) > 0)
                        //    TotalLabel += "<label class='green'>Balance : " + (data.creditamount - data.debitamount) + " </label>";
                        //else {
                        //    TotalLabel += "<label class='red'>Balance : " + (data.creditamount - data.debitamount) + " </label>";
                        //}


                          //  $("#displaylabel").append(TotalLabel);
                          //  $("#displaylabel1").append(TotalLabel1);



                        columnNames = Object.keys(data.pgmodel[0]);
                        for (var i in columnNames) {
                            columns.push({
                                data: columnNames[i],


                            });

                        }
                        $('#datatable').DataTable({

                            "processing": false, // for show progress bar
                            "serverSide": false, // for process server side
                            "bDestroy": true,
                            "bJQueryUI": true,
                            "pageLength": 20,
                            "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]],
                            "sEmptyTable": "Loading data from server",
                             "dom": 'lBfrtip',
                            "buttons": [
                                { extend: 'copy', className: 'btn btn-primary glyphicon glyphicon-duplicate' },
                                { extend: 'csv', className: 'btn btn-primary glyphicon glyphicon-save-file' },
                                { extend: 'excel', className: 'btn btn-primary glyphicon glyphicon-list-alt' },
                                { extend: 'pdf', className: 'btn btn-primary glyphicon glyphicon-file' },
                            ],

                            "data": data.pgmodel,
                            "columns": columns,

                            "rowCallback": function (row, data, index) {


                                            $(row).find('td:eq(0)').addClass('mb-0 text-sm');
                                            $(row).find('td:eq(1)').addClass('mb-0 text-sm');
                                            $(row).find('td:eq(2)').addClass('mb-0 text-sm');
                                            $(row).find('td:eq(3)').addClass('mb-0 text-sm');

                                            $(row).find('td:eq(4)').addClass('mb-0 text-sm green');
                                            $(row).find('td:eq(5)').addClass('mb-0 text-sm ');
                                            $(row).find('td:eq(6)').addClass('mb-0 text-sm ');





                                    },





                            "initComplete": function () {


                                this.api().columns().every(function () {
                                    var column = this;
                                    var d = column[0];
                                    if (d[0] == 0) {

                                        var select = $('<select class="select2 form-control ddlstyle"><option value="">Select</option></select>')
                                            .appendTo($(column.footer()).empty())
                                            .on('change', function () {
                                                var val = $.fn.dataTable.util.escapeRegex(
                                                    $(this).val()
                                                );

                                                column
                                                    .search(val ? '^' + val + '$' : '', true, false)
                                                    .draw();
                                            });

                                        column.data().unique().sort().each(function (d, j) {
                                            select.append('<option value="' + d + '">' + d + '</option>')
                                        });
                                    }
                                    else {

                                        //$("#displaylabel").empty();
                                        //var profit = 0, loss = 0;
                                        //var Sum = 0, TotalLabel = "";

                                        //column.data().each(function (d, j) {

                                        //        profit = profit + parseFloat(d);

                                        //});
                                        //$("#lblmessage").css("display", "block")
                                        //TotalLabel = "<label  class='green '>  Profit/Losss  " + profit.toFixed(2) + "</label >";


                                        //$("#displaylabel").append(TotalLabel);

                                    }

                                });
                            }, columnDefs: [
                                {
                                    targets: 1,
                                    className: "text-right"
                                }
                  ]
                        });
                    }
                });




            }

            }
            $('#btnLoadPL').bind(clickHandler,function (e) {
                e.preventDefault();

               var fromDate = moment($("#fromdate").val(), 'DD/MM/YYYY hh:mm A');

               var toDate = moment($("#todate").val(), 'DD/MM/YYYY hh:mm A');

                getLoadData(fromDate, toDate);




            });



        });
    </script>

}


<div class="row">
    <div class="col-xl-12">
        @*<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
        <link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css"
              rel="Stylesheet" type="text/css" />
        <script type="text/javascript">
            $(function () {
                $("#txtUser").autocomplete({
                    source: function (request, response) {

                        $.ajax({
                            url: '/RunningAnalysis/getUserBySearch/',
                            data: { "search": request.term },
                            type: "POST",
                            success: function (data) {
                                response($.map(data, function (item) {
                                    return item;
                                }))
                            },
                            error: function (response) {
                                alert(response.responseText);
                            },
                            failure: function (response) {
                                alert(response.responseText);
                            }
                        });
                    },
                    select: function (e, i) {
                        $("#hfUser").val(i.item.val);
                    },
                    minLength: 1
                });
            });
        </script>*@
        <!-- card -->

        <div class="container-fluid px-3 px-sm-4">
            <div class="card blur shadow-blur">
                <div class="card-body">

                    <form action="#" class="form-horizontal">
                        <div>
                            <div class="nav-wrapper" navbar-scroll="true">
                                <ul class="nav nav-pills p-2 " navbar-scroll="true" role="tablist">

                                    <li class="nav-item">
                                        <a class="nav-link active " data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="true">

                                            <span class="font-weight-bold text-sm" id="custom">Custom</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="false">

                                            <span class="font-weight-bold text-sm" id="today">Today</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="false">

                                            <span class="font-weight-bold text-sm" id="yesterday">Yesterday</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div class="row mt-2 g-2">
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group row">
                                    <label class="col-md-12 ">Time Zone</label>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <select id="formtimezone" onkeydown="return false;" class="formtimezone form-control input-group-append" placeholder="">
                                                <option>
                                                    UTC
                                                </option>
                                                <option>
                                                    IST
                                                </option>
                                                <option>
                                                    GST
                                                </option>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="startdate" class="col-sm-6 col-md-3">
                                <div class="form-group row">
                                    <label class="col-md-12 ">Start Date</label>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <input type="text" id="fromdate" onkeydown="return false;" class="form-control datepicker-report" placeholder="dd/mm/yyyy">
                                            <span class="input-group-text text-body"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>

                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div id="enddate" class="col-sm-6 col-md-3">
                                <div class="form-group row">
                                    <label class="col-md-12 ">End Date</label>
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <input type="text" id="todate" onkeydown="return false;" class="form-control datepicker-report" placeholder="dd/mm/yyyy">
                                            <span class="input-group-text text-body"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <div class="form-group row mb-0">
                                    <label class="col-md-12 d-none d-md-block">&nbsp;&nbsp;&nbsp;</label>
                                    <div class="col-md-12">
                                        <input type="hidden" id="hfUser" name="UserId" />
                                        <input type="submit" class="btn btn-primary mb-0 w-100" id="btnLoadPL" value="Search" />
                                    </div>                                    
                                </div>
                            </div>

                            <div id="lblmessage" class="">
                                <div class="form-group row mb-0 text-center">


                                    <span id="displaylabel" class="displaylabel"><label style="font-weight: 600;"></label></span>
                                    <div class="input-group-append" style="align-self: flex-end; margin-bottom: 5px; margin-right: 3px">

                                        <span id="displaylabel1" style="margin-top:-30px" class="input-group"><label style="font-weight: 200;"></label></span>
                                    </div>


                                </div>

                            </div>

                        </div>
                    </form>

                </div>
                <!-- card-body -->
            </div>
            <!-- card -->

        </div>


        <div class="container-fluid p-3 p-sm-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="table-responsive p-0">
                                <table id="datatable" class="table align-items-center mb-0 border-0 dataTable">
                                    <thead>
                                        <tr>
                                            <th class="">Sl.No</th>
                                            <th class="">Agent Name</th>
                                            <th class="">Total Transaction</th>
                                            <th class="">Total Deposit Amount</th>
                                            <th class=""> Total Failed Amount</th>
                                            <th class="">Total Deposit Transaction</th>
                                            <th class="">Total Failed Transaction</th>
                                        </tr>
                                    </thead>
                                    <tbody id="datatable_body"></tbody>
                                    <tfoot id="datatable_footer">
                                        <tr></tr>

                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>



        @section FooterFiles{

            <!-- jQuery  -->
            <script src="~/plugins/moment/moment.min.js"></script>

            <!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script>-->
            <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

            <script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>



            <!--Datepicker-->
            <script src="~/plugins/bootstrap-datetimepicker/dist/js/datepicker.min.js?v=n3JjkWy2QIc2IH5rOc8Ty4hwyMRPfOdWWfLQWrSi5rY"></script>
            <script src="~/plugins/bootstrap-datetimepicker/dist/js/datepicker.en.js?v=7UnPR3AWcMawuuUmM6DTjsaKdLBKiimReIj6-cBfeZI"></script>


            <!-- jQuery
            <script src="~/plugins/waypoints/lib/jquery.waypoints.js"></script>
            <script src="~/plugins/counterup/jquery.counterup.min.js"></script> -->
            <!-- skycons
            <script src="~/plugins/skyicons/skycons.min.js"></script> -->


            <script>
                jQuery(document).ready(function ($) {
                    /* Counter Up
                    $('.counter').counterUp({
                        delay: 100,
                        time: 1200
                    });*/


                    if (jQuery('.datepicker-report').datepicker().data('datepicker') !== undefined) {
                        var todayDate = moment();
                        $("#fromdate").datepicker().data('datepicker').selectDate(new Date(todayDate.startOf('day')));
                        //$("#fromdate").datepicker().data('datepicker').selectDate(new Date(todayDate.endOf('day')));
                        $("#todate").datepicker().data('datepicker').selectDate(new Date(todayDate.endOf('day')));
                    }
                });

                jQuery('.datepicker-report').datepicker({
                    language: 'en',
                    dateFormat: 'dd/mm/yyyy',
                    timepicker: true,
                    dateTimeSeparator: " ",
                    timeFormat: "hh:ii AA",
                    autoClose: true
                });

            </script>

        }
    </div>
    </div>