﻿
@{
    ViewData["Title"] = "AddUserRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section headFiles{

    <style>
        .hide {
            display: none;
        }
    </style>


    <script>

    $(document).ready(function () {

        var ddlUser = $("#ddlUser");
        function binddropdown() {

            $.ajax({
                url: '@Url.Action("GetUserDataList", "Home")',
                type: "POST",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: "{}",
                success: function (response) {

                    ddlUser.empty().append('<option selected="selected" value="0">Select User</option>');

                    $.each(response.userList, function () {
                        ddlUser.append($("<option></option>").val(this['value']).html(this['text']));
                    });
                   
                    var PageDiv = '<div class="form-group row">';
                    $("#PageListDiv").empty();
                    $.each(response.pageList, function () {

                        PageDiv = PageDiv + '\
                            <div class="col-auto mb-2" >\
                                <div class="checkbox checkbox-primary">\
                                    <input id="checkbox_'+ this.pid + '" value="' + this.pid+'" type="checkbox" name="SelectedPage">\
                                        <label for="checkbox_'+ this.pid +'">\
                                            '+this.pname+'\
                                    </label>\
                                </div>\
                        </div>';

                    });

                    PageDiv = PageDiv + "</div>";

                    $("#PageListDiv").append(PageDiv);


                },
                error: function (err) {
                    alert(err.statusText);
                }
            });

        }
        binddropdown();

        $("#ddlUser").change(function () {

            $('input[name="SelectedPage"]').each(function () {
                this.checked = false;
            });


            if ($('option:selected', this).val() != "0") {

                $("#divsubmit").removeClass("hide");

                var fdata = new FormData();

                fdata.append("userid", $("#ddlUser option:selected").val());

                    $.ajax({
                        url: '@Url.Action("GetUserPermissionList", "Home")',
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: fdata,
                        success: function (response) {

                            if (response != "0" && response != null) {

                                var selectedarray = response[0].pageIds.split(",");

                                $.each(selectedarray, function (index, value) {
                                    $("input[name='SelectedPage'][value='" + value + "']").prop('checked', true);
                                });

                            }
                        },
                        error: function (err) {
                            alert(err.statusText);
                        }
                    });
            }
            else {
                $("#divsubmit").addClass("hide");

              //  $("#GameList").empty();
            }

        });

        $("#btnsubmit").click(function () {

                    var PageRole = "";
                    $("input:checkbox[name=SelectedPage]:checked").each(function () {
                        PageRole = PageRole + "," + $(this).val();

                    });

                    var PageIds = PageRole.substring(1, PageRole.length);

                    var obj = new FormData();

                    obj.append("PageIds", PageIds);
                    obj.append("UserId", $("#ddlUser option:selected").val());


                    $.ajax({
                        url: '@Url.Action("AddUpdateUserPermission", "Home")',
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: obj,
                        success: function (response) {

                            if (response == "1" && response != null) {
                                swal("Successfully UserPermission Inserted!!", "", "success", {
                                    button: "Close",
                                });
                            }
                            else {
                                swal("Something Wrong !!", "", "warning", {
                                    button: "Close",
                                });
                            }
                        },
                        error: function (err) {
                            alert(err.statusText);
                        }
                    });
        });

    });

    </script>

}


<div class="container-fluid px-3 px-sm-4">
    <div class="card">
        <div class="card-body">
            <form action="#">
                <div class="form-group">
                    <label for="ddlUser">Select User</label>
                    <select id="ddlUser" class="select2 form-control"></select>
                </div>
                <div id="PageListDiv">

                </div>
                <div class="form-group mb-0 hide" id="divsubmit">
                    <div class="col-sm-3 col-md-2">
                        <button type="submit" id="btnsubmit" class="btn btn-primary mb-0 w-100">Add Role</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

