﻿
@{
    ViewData["Title"] = "AddUser";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section headFiles{


    <link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css" rel="stylesheet">

    <script>

        var Display, clear;

        $(document).ready(function () {

            $('#datatable').DataTable();

            Display = function () {

                var URL = '@Url.Action("GetUserList", "Home")';

                $('#datatable').dataTable({
                    "processing": false,
                    "serverSide": false,
                    "bDestroy": true,
                    "bJQueryUI": true,
                    "pageLength": 20,
                    "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]],
                    "sEmptyTable": "Loading data from server",
                    "dom": 'lfrtip',
                    "ajax": {
                        'type': 'POST',
                        'url': URL,
                        'data': "",
                    },
                    "columns": [
                        {
                            "render": function (data, type, row, meta) {
                                return "<p class='text-xs font-weight-bold mb-0'>" + data + "</p>";
                            }
                        },
                        {
                            "render": function (data, type, row, meta) {
                                return "<p class='text-xs font-weight-bold mb-0'>" + data + "</p>";
                            }
                        },
                        {
                            "visible": false,
                            "render": function (data, type, row, meta) {
                                return "<p class='text-xs font-weight-bold mb-0'>" + data + "</p>";
                            }
                        },
                        {
                            "render": function (data, type, row, meta) {
                                var UserType = "";
                                if (row[3] == "1") { UserType = "SuperAdmin" } else if (row[3] == "2") { UserType = "Owner" } else if (row[3] == "3") { UserType = "Support" }
                                return "<p class='text-xs font-weight-bold mb-0'>" + UserType+ "</p>";
                                // return UserType;
                            }
                        },
                        {
                            "render": function (data, type, row, meta) {
                                return '<button class="btn btn-danger fa fa-trash mb-0" title="Delete" style="padding:6px 10px;" onclick="deletedata(' + row[0] + ')"></button>';
                            }
                        },
                    ],
                });
            }

            Display();

            $("#btnInsert").click(function () {

               

                if ($("#txtusername").val() != "" && $("#txtpassword").val() != "" && $("#ddlUserType option:selected").val()!="0" ) {



                    var obj = new FormData();

                    obj.append("username", $("#txtusername").val());
                    obj.append("userpassword", $("#txtpassword").val());
                    obj.append("usertype", $("#ddlUserType option:selected").val());


                    $.ajax({
                        url: '@Url.Action("InsertUserData", "Home")',
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: obj,
                        success: function (response) {

                            if (response == "1" && response != null) {
                                swal("Successfully User Inserted !!", "", "success", {
                                    button: "Close",
                                });
                            }
                            else if (response == "2")
                            {
                                swal("User already exists!!", "", "error", {
                                    button: "Close",
                                });
                            }
                            else {
                                swal("Something Wrong !!", "", "warning", {
                                    button: "Close",
                                });
                            }
                            Display();

                            $("#txtusername").val("")
                            $("#txtpassword").val("")
                            $("#ddlUserType").val("0")

                        },
                        error: function (err) {
                            alert(err.statusText);
                        }
                    });


                }
                else {
                    swal("Please enter username and password !!", "", "warning", {
                        button: "Close",
                    });
                }


            });

            //.............................................clicking row modelpopup..........................
            $('#datatable tbody').on('click', 'td', function () {

                var c = this.cellIndex;
                if (c != 3) {

                    var table = $('#datatable').DataTable();

                    var data = table.row($(this).parent()).data();

                    $("#UID").val(data[0]);

                    $("#txtupusername").val(data[1]);
                    $("#txtuppass").val(data[2]);

                    $("#ddlUserTypeupdate").val(data[3]);

                    $('#con-close-modal').modal();
                }

            });

            $("#btnupdate").click(function () {

               

                if ($("#txtupusername").val() != "" && $("#txtuppass").val() != "" && $("#ddlUserTypeupdate option:selected").val()!="0" ) {



                    var obj = new FormData();

                    obj.append("userid", $("#UID").val());
                    obj.append("username", $("#txtupusername").val());
                    obj.append("userpassword", $("#txtuppass").val());
                    obj.append("usertype", $("#ddlUserTypeupdate option:selected").val());


                    $.ajax({
                        url: '@Url.Action("UpdateUserData", "Home")',
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: obj,
                        success: function (response) {

                            if (response == "1" && response != null) {
                                swal("Successfully User Updated !!", "", "success", {
                                    button: "Close",
                                });
                            }
                            else if (response == "2")
                            {
                                swal("User already exists!!", "", "error", {
                                    button: "Close",
                                });
                            }
                            else {
                                swal("Something Wrong !!", "", "warning", {
                                    button: "Close",
                                });
                            }
                            Display();
                            $('#con-close-modal').modal('toggle');
                        },
                        error: function (err) {
                            alert(err.statusText);
                        }
                    });


                }
                else {
                    swal("Please enter username and password !!", "", "warning", {
                        button: "Close",
                    });
                }


            });

        });

        function deletedata(ID) {

            var table = $('#datatable').DataTable();

            var length = table.page.info().recordsTotal;
           
            if (length == 1) {
                swal("Can not delete all users !!", "", "error", {
                    button: "Close",
                });
            }
            else {

                swal({
                    title: "Are you sure you want to delete?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {

                            var obj = new FormData();
                            obj.append("ID", ID);

                            $.ajax({
                                url: '@Url.Action("DeleteUser", "Home")',
                                type: "POST",
                                contentType: false, // Not to set any content header
                                processData: false, // Not to process data
                                data: obj,
                                success: function (response) {
                                    if (response == 1) {
                                        swal("Successfully User Deleted!", "", "success", {
                                            button: "Close",
                                        });
                                        Display();
                                    }
                                    else {
                                        swal(response, "", "error", {
                                            button: "Close",
                                        });
                                    }
                                }
                            });
                        }
                    });
            }



        }

    </script>

}


<div class="container-fluid px-3 px-sm-4">
    <div class="card mb-4">
        <div class="card-body">
            <form action="#" class="form-horizontal">
                <div class="row g-2">
                    <div class="col-sm-6 col-md-3">
                        <label>Username</label>
                        <input class="form-control" id="txtusername" name="txtusername" type="text" required="" aria-required="true">
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label>Password</label>
                        <input class="form-control" id="txtpassword" name="txtpassword" type="password" required="" aria-required="true">
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label>Usertype</label>
                        <select id="ddlUserType" class="select2 form-control">
                            <option value="0">Select UserType</option>
                            <option value="1">SuperAdmin</option>
                            <option value="2">Owner</option>
                            <option value="3">Support</option>
                        </select>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <label class="d-none d-md-block">&nbsp;&nbsp;&nbsp;</label>
                        <button class="btn btn-primary w-100 mb-0" id="btnInsert" type="submit">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="container-fluid px-3 px-sm-4">
    <div class="card mb-4">
        <div class="card-body">
            <div class="table-responsive p-0">
                <table id="datatable" class="table align-items-center mb-0 border-0 dataTable w-100">
                    <thead>
                        <tr>
                            <th class="">ID</th>
                            <th class="">UserName</th>
                            <th class="">Password</th>
                            <th class="" width="200">UserType</th>
                            <th class="" width="100">Action</th>
                        </tr>
                    </thead>
                    <tbody id="datatable_body"></tbody>
                </table>
            </div>            
        </div>
    </div>
</div>


<div id="con-close-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">User Details</h4>
            </div>
            <div class="modal-body">

                <input type="hidden" id="UID" value="0" />

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="txtupusername" class="control-label">Username</label>
                            <input type="text" class="form-control" id="txtupusername">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="txtuppass" class="control-label">Password</label>
                            <input type="password" class="form-control" id="txtuppass">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="txtpass" class="control-label">Usertype</label>
                            <select id="ddlUserTypeupdate" class="select2 form-control">
                                <option class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" value="0">Select UserType</option>
                                <option class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" value="1">SuperAdmin</option>
                                <option class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" value="2">Owner</option>
                                <option class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" value="3">Support</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>

                <button type="submit" id="btnupdate" class="btn btn-primary waves-effect waves-light">
                    Update
                </button>

            </div>
        </div>
    </div>
</div>




@section FooterFiles{

    <!-- jQuery  -->
    <script src="~/plugins/moment/moment.min.js"></script>

    <!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script>-->
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>

    <script src="~/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/assets/js/site.js"></script>

    <!-- jQuery
    <script src="~/plugins/waypoints/lib/jquery.waypoints.js"></script>
    <script src="~/plugins/counterup/jquery.counterup.min.js"></script>
        -->
    <!-- skycons
    <script src="~/plugins/skyicons/skycons.min.js"></script>-->

    <script>
        jQuery(document).ready(function ($) {
            /* Counter Up
            $('.counter').counterUp({
                delay: 100,
                time: 1200
            });*/
        });
    </script>

}