﻿
@{
    ViewData["Title"] = "BetList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@section headFiles{

    <!--Datepicker-->
    <link href="~/plugins/bootstrap-datetimepicker/dist/css/datepicker.min.css?v=q0wZgzQ6Ru67x-pIe9IAztrnlHNHyZui3BMwqUYDnpI" rel="stylesheet">

    <link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css" rel="stylesheet">
    <script src='/select2/jquery-3.2.1.min.js' type='text/javascript'></script>
    <script src='/select2/dist/js/select2.min.js' type='text/javascript'></script>

    <link href='/select2/dist/css/select2.min.css' rel='stylesheet' type='text/css'>

    <style>
        .select2-dropdown.select2-dropdown--below {
            /*width: 148px !important;*/
        }

        .select2-container--default .select2-selection--single {
            padding: 6px;
            height: 37px;
            width: 148px;
            font-size: 1.2em;
            position: relative;
        }

            .select2-container--default .select2-selection--single .select2-selection__arrow {
                background-image: -khtml-gradient(linear, left top, left bottom, from(#cb0c9f), to(#030303));
                background-image: -moz-linear-gradient(top, #cb0c9f, #030303);
                background-image: -ms-linear-gradient(top, #cb0c9f, #030303);
                background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cb0c9f), color-stop(100%, #030303));
                background-image: -webkit-linear-gradient(top, #cb0c9f, #030303);
                background-image: -o-linear-gradient(top, #cb0c9f, #030303);
                background-image: linear-gradient(#cb0c9f, #030303);
                width: 40px;
                color: #fff;
                font-size: 1.3em;
                padding: 4px 12px;
                height: 27px;
                position: absolute;
                top: 0px;
                right: 0px;
                width: 20px;
            }

        .paginate_button {
            font-size: 12px
        }

        .dataTables_info {
            font-size: 12px
        }

        .ddlstyle {
            width: 100%;
        }
    </style>
    <script type="text/javascript" src="dataTables.scrollingPagination.js"></script>
    <script>
        var offset = 0;
        var selectedtimezone = "";
        $(document).ready(function () {

            $('select').select2();
            function getUtcOffset(date) {
                return moment(date)
                    .subtract(
                        new Date().getTimezoneOffset(),
                        'minutes')
                    .utc()
            }

            var clickHandler = "click";

            if ('ontouchstart' in document.documentElement) {
                clickHandler = "touchstart";
            }



            $("select.formtimezone").change(function () {

                 selectedtimezone = "";
                 selectedtimezone = $(this).children("option:selected").val();

            });


            $('#datatable').DataTable();

            var ddlPlatform = $("#ddlPlatform");
            var ddlGames = $("#ddlGames");
            var ddlAgents = $("#ddlAgents");
            var ddlClients = $("#ddlClients");
            function binddropdown() {

                $.ajax({
                    url: '@Url.Action("GetPlatformList", "Home")',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: "{}",
                    success: function (response) {
                        ddlPlatform.empty().append('<option selected="selected" value="0">Select Platform</option>');
                        ddlAgents.empty().append('<option selected="selected" value="ALL">ALL</option>');
                        ddlClients.empty().append('<option selected="selected" value="ALL">ALL</option>');

                        $.each(response, function () {
                            ddlPlatform.append($("<option></option>").val(this['value']).html(this['text']));
                        });
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });

            }
            binddropdown();
             @*$("#ddlAgents").change(function () {
                 if ($("#ddlPlatform option:selected").text() == "Power Games") {
                     SelectedOption = "PowerGame";
                 }
                 else {
                     SelectedOption = "SuperNowa";
                 }



                       if ($('option:selected', this).val() != "0") {

                    var fdata = new FormData();
                    fdata.append("PlatformId", $("#ddlPlatform option:selected").val());
                           fdata.append("PlatformName", $("#ddlPlatform option:selected").text());
                           fdata.append("AgentUserId", $("#ddlAgents option:selected").val());
                           fdata.append("SelectedOption", SelectedOption);

                $.ajax({
                    url: '@Url.Action("GetClientList", "Home")',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fdata,
                    success: function (response) {
                        ddlClients.empty().append('<option selected="selected" value="ALL">ALL</option>');

                        $.each(response, function () {

                            if (this['selected'] == true) {
                                ddlClients.append($("<option class='green'></option>").val(this['value']).html(this['text']));
                            }
                            else {
                                ddlClients.append($("<option class='red'></option>").val(this['value']).html(this['text']));
                            }

                        });
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });

                }
                else {
                    $('#datatable').DataTable().clear().draw();
                    ddlMarket.empty();
                }

             });*@


                $("#ddlPlatform").change(function () {
                    if ($("#ddlPlatform option:selected").text() == "Power Games") {
                        SelectedOption = "PowerGame";
                    }
                    else {
                        SelectedOption = "SuperNowa";
                    }


                       if ($('option:selected', this).val() != "0") {

                    var fdata = new FormData();
                    fdata.append("PlatformId", $("#ddlPlatform option:selected").val());
                           fdata.append("PlatformName", $("#ddlPlatform option:selected").text());
                           fdata.append("SelectedOption", SelectedOption);

                $.ajax({
                    url: '@Url.Action("GetAgentList", "Home")',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fdata,
                    success: function (response) {
                        ddlAgents.empty().append('<option selected="selected" value="ALL">ALL</option>');;


                        $.each(response, function () {

                            if (this['selected'] == true) {
                                ddlAgents.append($("<option class='green'></option>").val(this['value']).html(this['text']));
                            }
                            else {
                                ddlAgents.append($("<option class='red'></option>").val(this['value']).html(this['text']));
                            }

                        });
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });

                }
                       else {

                           if ($("#ddlPlatform option:selected").text() == "Power Games") {
                               SelectedOption = "PowerGame";
                           }
                           else {
                               SelectedOption = "SuperNowa";
                           }
                    $('#datatable').DataTable().clear().draw();
                    ddlMarket.empty();
                }

                       if ($('option:selected', this).val() != "0") {

                    var fdata = new FormData();
                    fdata.append("PlatformId", $("#ddlPlatform option:selected").val());
                           fdata.append("PlatformName", $("#ddlPlatform option:selected").text());
                           fdata.append("SelectedOption", SelectedOption);

                $.ajax({
                    url: '@Url.Action("GetGameListForChart", "Home")',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fdata,
                    success: function (response) {
                        ddlGames.empty().append('<option selected="selected" value="ALL">ALL GAMES</option>');

                        $.each(response, function () {

                            if (this['selected'] == true) {
                                ddlGames.append($("<option class='green'></option>").val(this['value']).html(this['text']));
                            }
                            else {
                                ddlGames.append($("<option class='red'></option>").val(this['value']).html(this['text']));
                            }

                        });
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });

                }
                else {
                    $('#datatable').DataTable().clear().draw();
                    ddlMarket.empty();
                }

            });
            $('#btnLoadPL').bind(clickHandler,function (e) {
                e.preventDefault();
                console.log("offset :" + new Date().getTimezoneOffset() * -1);


                offset = new Date().getTimezoneOffset() * -1;
                $("#displaylabel").empty();
                $('#datatable').DataTable().clear().draw();

            if ($("#ddlPlatform option:selected").val() == "0")
             {
                swal("Please Select Platform !!", "", "warning", {
                    button: "Close",
                });

            }
            else {

                $('#datatable_body').empty();
                $('#datatable_footer').empty();



                var SelectedOption = "";

            if ($("#ddlPlatform option:selected").text() == "Power Games") {
                SelectedOption = "PowerGame";
            }
            else {
                SelectedOption = "SuperNowa";
            }
                var URL = '@Url.Action("GetAgentWiseBetList", "Home")';



                var fromDate = moment($("#fromdate").val(), 'DD/MM/YYYY hh:mm A').utc();

                var toDate = moment($("#todate").val(), 'DD/MM/YYYY hh:mm A').utc();


                if (selectedtimezone == "IST") {

                    offset = 330;



                }
                if (selectedtimezone == "DST") {

                    offset = 240;




                }

                var c = fromDate.toJSON().split(':');
                c.splice(c.length - 1, 1);
                fromDate = c.join(':') + ':00.000';

                var b = toDate.toJSON().split(':');
                b.splice(b.length - 1, 1);
                toDate = b.join(':') + ':59.999';
                var Settled = $("#ddlSettled option:selected").val();

                $('#datatable').dataTable({

                    "processing": false,
                    "serverSide": false,
                    "bDestroy": true,
                    "bJQueryUI": true,

                    "pageLength": 20,
                    "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]],
                    "sEmptyTable": "Loading data from server",
                    "dom": 'lBfrtip',
                    "buttons": [
                        { extend: 'copy', className: 'btn btn-primary glyphicon glyphicon-duplicate' },
                        { extend: 'csv', className: 'btn btn-primary glyphicon glyphicon-save-file' },
                        { extend: 'excel', className: 'btn btn-primary glyphicon glyphicon-list-alt' },
                        { extend: 'pdf', className: 'btn btn-primary glyphicon glyphicon-file' },
                    ],
                    "ajax": {
                        'type': 'POST',
                        'url': URL,
                        'data': {
                            "PlatformId": $("#ddlPlatform option:selected").val(),
                            "PlatformName": $("#ddlPlatform option:selected").text(),
                            "GameID": $("#ddlGames option:selected").val(),
                            "AgentUserId": $("#ddlAgents option:selected").val(),
                            "ClientUserId": $("#ddlClients option:selected").val(),
                            "SelectedOption": SelectedOption,
                            "Settled": Settled,
                            "FromDate": fromDate,
                            "ToDate": toDate,
                            "Offset":offset
                        },
                    },
                    "columns": [
                        {
                            "render": function (data, type, row, meta) {
                               // return (row[0])
                                return "<p class='text-xs font-weight-bold mb-0'>" + data + "</p>";
                            }
                        },
                        {
                            "render": function (data, type, row, meta) {
                               // return (row[1])
                                return "<p class='text-xs font-weight-bold mb-0'>" + data + "</p>";
                            }
                        },
                        {
                            "render": function (data, type, row, meta) {
                                //return (row[2])
                                return "<p class='text-xs font-weight-bold mb-0'>" + data + "</p>";
                            }
                        },
                        {
                            "render": function (data, type, row, meta) {
                               // return (row[3])
                                return "<p class='text-xs font-weight-bold mb-0'>" + data + "</p>";
                            }
                        },
                        {
                            "render": function (data, type, row, meta) {
                              //  return (row[4])
                                return "<p class='text-xs font-weight-bold mb-0'>" + data + "</p>";

                            }
                        },

                        {
                            "render": function (data, type, row, meta) {
                              //  return (row[5])
                                return "<p class='text-xs font-weight-bold mb-0'>" + data + "</p>";
                            }
                        },


                        {
                            "render": function (data, type, row, meta) {
                               // return (row[6])
                                return "<p class='text-xs font-weight-bold mb-0'>" + data + "</p>";
                            }
                        },

                        {
                            "render": function (data, type, row, meta) {
                               // return (row[7])
                                return "<p class='text-xs font-weight-bold mb-0'>" + data + "</p>";
                            }
                        },

                    ],
                    "initComplete": function () {
                        this.api().columns().every(function () {
                            var column = this;
                            var d = column[0];
                            if (d[0] == 0) {

                                var select = $('<select class="select2 form-control ddlstyle"><option value="">Select</option></select>')
                                    .appendTo($(column.footer()).empty())
                                    .on('change', function () {
                                        var val = $.fn.dataTable.util.escapeRegex(
                                            $(this).val()
                                        );

                                        column
                                            .search(val ? '^' + val + '$' : '', true, false)
                                            .draw();
                                    });

                                column.data().unique().sort().each(function (d, j) {
                                    select.append('<option value="' + d + '">' + d + '</option>')
                                });
                            }
                            else {

                            }

                        });
                    },
                    columnDefs: [
                        {
                            targets: 1,
                            className: "text-right"
                        }
                    ]
                });

            }






            });

        });
    </script>

}




<div class="container-fluid px-3 px-sm-4">
    <div class="card  mb-3 mb-sm-4 blur shadow-blur">

        <div class="card-body">
            <form action="#" class="form-horizontal">
                <div class="row g-2">
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group row">
                            <label class="">Platform</label>
                            <div class="">
                                <div class="input-group">
                                    <select id="ddlPlatform" class="select2 form-control" data-placeholder="Choose a Platform...">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group row">
                            <label class="">Games</label>
                            <div class="">
                                <div class="input-group">
                                    <select id="ddlGames" class="select2 form-control" data-placeholder="Choose a Game...">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group row">
                            <label class="">Settled or Unsettled </label>
                            <div class="">
                                <div class="input-group">
                                    <select id="ddlSettled" class="select2 form-control" data-placeholder="settled\unsettled">
                                        <option value="ALL">ALL</option>
                                        <option value="1">Settled</option>

                                        <option value="0">UnSettled</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group row">
                            <label class="">Agent</label>
                            <div class="">
                                <div class="input-group">
                                    <select id="ddlAgents" class="select2 form-control" data-placeholder="Choose an Agent...">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row g-2">
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group row">
                            <label class=" ">Time Zone</label>
                            <div class="">
                                <div class="input-group">
                                    <select id="formtimezone" onkeydown="return false;" class="formtimezone form-control input-group-append" placeholder="">
                                        <option>
                                            Default
                                        </option>
                                        <option>
                                            IST
                                        </option>
                                        <option>
                                            DST
                                        </option>
                                    </select>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group row">
                            <label class="">Start Date</label>
                            <div class="">
                                <div class="input-group">
                                    <input type="text" id="fromdate" onkeydown="return false;" class="form-control datepicker-report" placeholder="dd/mm/yyyy">
                                    <span class="input-group-text text-body"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6 col-md-3">
                        <div class="form-group row">
                            <label class="">End Date</label>

                            <div class="input-group">
                                <input type="text" id="todate" onkeydown="return false;" class="form-control datepicker-report" placeholder="dd/mm/yyyy">
                                <span class="input-group-text text-body"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>


                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group row">
                            <label class="col-md-12 d-none d-md-block">&nbsp;&nbsp;&nbsp;</label>
                            <div class="col-md-12">
                                <input type="submit" class="btn-primary btn mb-0 w-100" id="btnLoadPL" value="Search" />
                            </div>
                        </div>
                    </div>



                </div>
            </form>
        </div>

    </div>

    <div class="card mb-4">
        <div class="card-body">
            <div class="table-responsive p-0">
                <table id="datatable" class="table align-items-center mb-0 border-0 dataTable">
                    <thead>
                        <tr>
                            <th class="">Bet ID</th>
                            <th class="">Agent Name/Client Name</</th>
                            <th class="">Game</</th>



                            <th class="">Bet Details</th>
                            <th class="">Winner</th>
                            <th class="">W/L</th>
                            <th class="">Round ID</</th>
                            <th class="">Settled</</th>

                        </tr>
                    </thead>
                    <tbody id="datatable_body"></tbody>
                    <tfoot>
                        <tr>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Bet ID</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Agent Name/Client Name</</th>
                            <th>Game</th>



                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Bet Details</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Winner</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">W/L</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Round ID</</th>
                            <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Settled</</th>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>

</div>






@section FooterFiles{

    <!-- jQuery  -->
    <script src="~/plugins/moment/moment.min.js"></script>

    <!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script>-->
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/autofill/2.3.9/js/dataTables.autoFill.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>



    <!--Datepicker-->
    <script src="~/plugins/bootstrap-datetimepicker/dist/js/datepicker.min.js?v=n3JjkWy2QIc2IH5rOc8Ty4hwyMRPfOdWWfLQWrSi5rY"></script>
    <script src="~/plugins/bootstrap-datetimepicker/dist/js/datepicker.en.js?v=7UnPR3AWcMawuuUmM6DTjsaKdLBKiimReIj6-cBfeZI"></script>


    <!-- jQuery
    <script src="~/plugins/waypoints/lib/jquery.waypoints.js"></script>
    <script src="~/plugins/counterup/jquery.counterup.min.js"></script> -->
    <!-- skycons
    <script src="~/plugins/skyicons/skycons.min.js"></script> -->

    <script>
        jQuery(document).ready(function ($) {
            /* Counter Up
            $('.counter').counterUp({
                delay: 100,
                time: 1200
            });*/


            if (jQuery('.datepicker-report').datepicker().data('datepicker') !== undefined) {
                var todayDate = moment();
                $("#fromdate").datepicker().data('datepicker').selectDate(new Date(todayDate.startOf('day')));
                //$("#fromdate").datepicker().data('datepicker').selectDate(new Date(todayDate.endOf('day')));
                $("#todate").datepicker().data('datepicker').selectDate(new Date(todayDate.endOf('day')));
            }
        });

        jQuery('.datepicker-report').datepicker({
            language: 'en',
            dateFormat: 'dd/mm/yyyy',
            timepicker: true,
            dateTimeSeparator: " ",
            timeFormat: "hh:ii AA",
            autoClose: true
        });

    </script>

}
