﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section headFiles{
    <!--Datepicker-->
    <link href="~/plugins/bootstrap-datetimepicker/dist/css/datepicker.min.css?v=q0wZgzQ6Ru67x-pIe9IAztrnlHNHyZui3BMwqUYDnpI" rel="stylesheet">
    <script src='/select2/jquery-3.2.1.min.js' type='text/javascript'></script>
    <script src='/select2/dist/js/select2.min.js' type='text/javascript'></script>

    <link href='/select2/dist/css/select2.min.css' rel='stylesheet' type='text/css'>

    <style>
        .select2-dropdown.select2-dropdown--below {
            /*width: 148px !important;*/
        }

        .select2-container--default .select2-selection--single {
            /*padding: 6px;
            height: 37px;
            width: 148px;*/
            font-size: 1.2em;
            position: relative;
        }

            .select2-container--default .select2-selection--single .select2-selection__arrow {
                background-image: -khtml-gradient(linear, left top, left bottom, from(#cb0c9f), to(#030303));
                background-image: -moz-linear-gradient(top, #cb0c9f, #030303);
                background-image: -ms-linear-gradient(top, #cb0c9f, #030303);
                background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cb0c9f), color-stop(100%, #030303));
                background-image: -webkit-linear-gradient(top, #cb0c9f, #030303);
                background-image: -o-linear-gradient(top, #cb0c9f, #030303);
                background-image: linear-gradient(#cb0c9f, #030303);
                width: 40px;
                color: #fff;
                font-size: 1.3em;
                padding: 4px 12px;
                height: 27px;
                position: absolute;
                top: 0px;
                right: 0px;
                width: 20px;
            }

      

        :root {
            --theadColor: #eb3461;
        }

        body {
            font-family: "Open Sans", sans-serif;
        }

        table.dataTable {
            box-shadow: #bbbbbb 0px 0px 5px 0px;
        }

        thead {
            background-color: var(--theadColor);
        }

            thead > tr,
            thead > tr > th {
                background-color: transparent;
                color: #fff;
                font-weight: normal;
                text-align: start;
            }

        table.dataTable thead th,
        table.dataTable thead td {
            border-bottom: 0px solid #111 !important;
        }

        .dataTables_wrapper > div {
            margin: 5px;
        }

        table.dataTable.display tbody tr.even > .sorting_1,
        table.dataTable.order-column.stripe tbody tr.even > .sorting_1 table.dataTable.display

        tbody

        tr.even,
        table.dataTable.display tbody tr.odd > .sorting_1,
        table.dataTable.order-column.stripe tbody tr.odd > .sorting_1,
        table.dataTable.display tbody tr.odd {
            background-color: #ffffff;
        }

        table.dataTable thead th {
            position: relative;
            background-image: none !important;
        }

            table.dataTable thead th.sorting:after,
            table.dataTable thead th.sorting_asc:after,
            table.dataTable thead th.sorting_desc:after {
                position: absolute;
                top: 12px;
                right: 8px;
                display: block;
                font-family: "Font Awesome\ 5 Free";
            }

            table.dataTable thead th.sorting:after {
                content: "\f0dc";
                color: #ddd;
                font-size: 0.8em;
                padding-top: 0.12em;
            }

            table.dataTable thead th.sorting_asc:after {
                content: "\f0de";
            }

            table.dataTable thead th.sorting_desc:after {
                content: "\f0dd";
            }

        table.dataTable.display tbody tr:hover > .sorting_1,
        table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
            background-color: #f2f2f2 !important;
            color: #000;
        }

        tbody tr:hover {
            background-color: #f2f2f2 !important;
            color: #000;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button.current,
        .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
            background: none !important;
            border-radius: 50px;
            background-color: var(--theadColor) !important;
            color: #fff !important
        }

        .paginate_button.current:hover {
            background: none !important;
            border-radius: 50px;
            background-color: var(--theadColor) !important;
            color: #fff !important
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
            border: 1px solid #979797;
            background: none !important;
            border-radius: 50px !important;
            background-color: #000 !important;
            color: #fff !important;
        }
      
        .RadioStyle {
            margin-top: 14px !important;
            transform: scale(1.35);
            margin-right: 5px !important;
            margin-left: 5px !important;

        }

        .avatar-sm {
            width: 100% !important;
            height: 100% !important;
            font-size: 0.875rem;
        }

        .red {
            color: red;
        }

        .py1-6 {
            padding-top: 3.15rem !important;
        }

        .green {
            color: green;
        }
    </style>

    <script>
        function getUtcOffset(date) {
            return moment(date)
                .subtract(
                    new Date().getTimezoneOffset(),
                    'minutes')
                .utc()
        }

        $(document).ready(function () {
          /*  $('select').select2();*/
            $("#GameContainer").css("display", "none");
            var selectedtimezone = "";
            $("select.formtimezone").change(function () {

                selectedtimezone = "";
                selectedtimezone = $(this).children("option:selected").val();

            });
            $("#lblmessage").css("display", "none")

            var ddlPlatform = $("#ddlPlatform");


            $("#custom").click(function () {
                $("#startdate").css("display", "block");
                $("#enddate").css("display", "block");

            });
            $("#today").click(function () {
                if ($('option:selected', this).val() != "0") {
                    var start = moment().startOf('day'); // set to 12:00 am today
                    var end = moment().endOf('day');
                    fromDate = moment(start, 'DD/MM/YYYY hh:mm A');
                    toDate = moment(end, 'DD/MM/YYYY hh:mm A');

                    $("#startdate").css("display", "none");
                    $("#enddate").css("display", "none");
                    $.fn.LoadGames();
                } else {
                    $("#displaylabel").empty();
                    $("#GameList").empty();
                }

            });
            $("#yesterday").click(function () {
                if ($('option:selected', this).val() != "0") {
                    var start = moment().startOf('day'); // set to 12:00 am today
                    var end = moment().endOf('day');
                    var  start1 = start.subtract(1, "days");
                    var end1  = end.subtract(1, "days");
                    fromDate = moment(start1, 'DD/MM/YYYY hh:mm A');
                    toDate = moment(end1, 'DD/MM/YYYY hh:mm A');
                    $("#startdate").css("display", "none");
                    $("#enddate").css("display", "none");

                    console.log(fromDate + "-" + toDate);
                    $.fn.LoadGames();
                } else {
                    $("#displaylabel").empty();
                    $("#GameList").empty();
                }

            });
            function binddropdown() {

                $.ajax({
                    url: '@Url.Action("GetPlatformList", "Home")',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: "{}",
                    success: function (response) {
                          ddlPlatform.append('<option selected="selected" value="0">Select Platform</option>');
                        ddlPlatform.append('<option value="ALL">ALL</option>');


                        $.each(response, function () {
                            ddlPlatform.append($("<option></option>").val(this['value']).html(this['text']));
                        });
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });

            }
            binddropdown();
            var fromDate;
            var toDate;
            $("#ddlPlatform").change(function () {

                $("#userviews").empty();

                if ($('option:selected', this).val() != "0") {

                    fromDate  = moment($("#fromdate").val(), 'DD/MM/YYYY hh:mm A');

                    toDate = moment($("#todate").val(), 'DD/MM/YYYY hh:mm A');

                    $.fn.LoadGames();
                    var selectopt = "";
                    if ($("#ddlPlatform option:selected").text() == "Power Games") {
                        selectopt = "PowerGame";

                    } else if ($("#ddlPlatform option:selected").text() != "ALL") {
                        selectopt = "Supernowa"

                    }
                        var fdata = new FormData();
                        fdata.append("PlatformId", $("#ddlPlatform option:selected").val());
                    fdata.append("PlatformName", $("#ddlPlatform option:selected").text());
                    fdata.append("SelectedOption", selectopt);
                       $.ajax({
                        url: '@Url.Action("UserViews", "Home")',
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                           data: fdata,
                        success: function (response) {

                            if (response != null) {



                                $("#userviews").text(response);

                            }


                        },
                        error: function (err) {
                            alert(err.statusText);
                        }
                    });

                }
                else {
                    $("#displaylabel").empty();
                    $("#GameList").empty();
                }

            });

            $('input[type=radio][name=RadioOptions]').change(function () {

                if ($("#ddlPlatform option:selected").val() != "0") {

                    fromDate = moment($("#fromdate").val(), 'DD/MM/YYYY hh:mm A');

                    toDate = moment($("#todate").val(), 'DD/MM/YYYY hh:mm A');


                    $.fn.LoadGames();

                }
                else {
                    $("#displaylabel").empty();
                    $("#GameList").empty();
                }

            });

                $('#btnrefresh').click(function (e) {
                e.preventDefault();
                if ($("#ddlPlatform option:selected").val() != "0") {

                     fromDate = moment($("#fromdate").val(), 'DD/MM/YYYY hh:mm A');

                    toDate = moment($("#todate").val(), 'DD/MM/YYYY hh:mm A');


                    $.fn.LoadGames();


                }
                else {
                    $("#displaylabel").empty();
                    $("#GameList").empty();
                }

            });


            // Seprate Function.......
            $.fn.LoadGames = function () {
                if ($("#ddlPlatform option:selected").val() == "0") {
                    swal("Please Select Platform !!", "", "warning", {
                        button: "Close",
                    });

                } else {


                    // console.log("BEFORE fromdate = " + fromDate + "  ---- todate = " + toDate);
                    if ($("#ddlPlatform option:selected").text() == "Power Games") {
                        fromDate = getUtcOffset(fromDate);
                        toDate = getUtcOffset(toDate);


                    }

                    var fdata = new FormData();
                    if (selectedtimezone == "IST") {

                        var currentTime = new Date();
                        var currentOffset = currentTime.getTimezoneOffset();
                        console.log("current offset" + currentOffset);
                        var ISTOffset = 330;   // IST offset UTC +5:30
                        var fromDate1 = new Date(moment(fromDate, 'DD/MM/YYYY hh:mm A') - (ISTOffset + currentOffset) * 60000);
                        console.log("before  " + fromDate);
                        var toDate1 = new Date(moment(toDate, 'DD/MM/YYYY hh:mm A') - (ISTOffset + currentOffset) * 60000);

                        fromDate = fromDate1;
                        toDate = toDate1;
                        var c = fromDate.toJSON().split(':');
                        c.splice(c.length - 1, 1);
                        fromDate = c.join(':') + ':00.000';
                        var b = toDate.toJSON().split(':');
                        b.splice(b.length - 1, 1);
                        toDate = b.join(':') + ':59.999';
                        console.log("IST  " + fromDate + "to Date   " + toDate);


                    }
                    else if (selectedtimezone == "GST") {

                        var currentTime = new Date();
                        var currentOffset = currentTime.getTimezoneOffset();
                        console.log("current offset" + currentOffset);
                        var ISTOffset = 240;   //
                        var fromDate1 = new Date(moment(fromDate, 'DD/MM/YYYY hh:mm A') - (ISTOffset + currentOffset) * 60000);
                        var toDate1 = new Date(moment(toDate, 'DD/MM/YYYY hh:mm A') - (ISTOffset + currentOffset) * 60000);

                        fromDate = fromDate1;
                        toDate = toDate1;

                        var c = fromDate.toJSON().split(':');
                        c.splice(c.length - 1, 1);

                        fromDate = c.join(':') + ':00.000';
                        var b = toDate.toJSON().split(':');

                        b.splice(b.length - 1, 1);
                        toDate = b.join(':') + ':59.999';
                        console.log("DST   " + fromDate + "to Date   " + toDate);


                    } else {
                        var currentTime = new Date();
                        var currentOffset = currentTime.getTimezoneOffset();
                        var fromDate1 = new Date(moment(fromDate, 'DD/MM/YYYY hh:mm A') - currentOffset * 60000);
                        var toDate1 = new Date(moment(toDate, 'DD/MM/YYYY hh:mm A') - currentOffset * 60000);
                        fromDate = fromDate1;
                        toDate = toDate1;
                        var c = fromDate.toJSON().split(':');
                        c.splice(c.length - 1, 1);
                        fromDate = c.join(':') + ':00.000';

                        var b = toDate.toJSON().split(':');
                        b.splice(b.length - 1, 1);
                        toDate = b.join(':') + ':59.999';
                        console.log("Default  " + fromDate + "to Date   " + toDate);

                    }

                    // console.log("AFTER fromdate = " + fromDate + "  ---- todate = " + toDate);

                    fdata.append("PlatformId", $("#ddlPlatform option:selected").val());
                    fdata.append("FromDate", fromDate);
                    fdata.append("ToDate", toDate);


                    if ($("#ddlPlatform option:selected").text() == "ALL") {
                        fdata.append("PlatformName", "ALL");
                        fdata.append("SelectedOption", $('input[name="RadioOptions"]:checked').val());
                    }

                    else {
                        fdata.append("PlatformName", $("#ddlPlatform option:selected").text());
                        fdata.append("SelectedOption", $('input[name="RadioOptions"]:checked').val());
                    }


                    $.ajax({
                        url: '@Url.Action("GetGameList", "Home")',
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: fdata,
                        success: function (response) {
                            $("#GameContainer").css("display", "block");

                            if (response != "0" && response != null) {

                                $("#GameList").empty();
                                $("#displaylabel").empty();

                                var LabelVal = 0, Key = "", Sum = 0;
                                var Div = "", TotalLabel = "";
                                if ($("#ddlPlatform option:selected").text() == "ALL") {
                                    $.each(response, function (k, v) {
                                        //console.log("k = " + k + " --> v = " + v);
                                        Key = k;
                                        Div = Div + '<div class="col-12 ol-xl-12"> <h5 class="text-uppercase font-weight-bold"> ' + Key + '</h5> </div>';
                                        $.each(v, function () {
                                            if (this.length > 0) {
                                                $.each(this, function () {
                                                    if ($('input[name="RadioOptions"]:checked').val() == "ProfitLoss") {
                                                        LabelVal = this.totalProfitLoss;
                                                        Sum = Sum + parseFloat(this.totalProfitLoss);
                                                        TotalLabel = "Total Revenue : ";
                                                    }
                                                    else if ($('input[name="RadioOptions"]:checked').val() == "BetAmount") {
                                                        LabelVal = this.totalBetAmount;
                                                        Sum = Sum + parseFloat(this.totalBetAmount);
                                                        TotalLabel = "Total Volume : ";
                                                    }
                                                    else if ($('input[name="RadioOptions"]:checked').val() == "NoOfBetCount") {
                                                        LabelVal = this.totalBet;
                                                        Sum = Sum + parseFloat(this.totalBet);
                                                        TotalLabel = "Total Bets : ";
                                                    }
                                                    Div = Div + '\
                                   <div class="col-xl-3 col-sm-6 mb-0 mt-2">\
                                    <div class="card">\
                                                <div class="card-body p-3">\
                                                  <div class="row">\
                                                    <div class="col-8">\
                                                      <div class="numbers">\
                                                        <p class="text-xxs mb-0 text-capitalize font-weight-bold">'+ this.name + '</p>\
                                                        <h5 class="font-weight-normal mb-0">\
                                                          '+ LabelVal + '\
                                                          <span class="text-success text-sm font-weight-bold">' + this.gameCode + '</span>\
                                                        </h5>\
                                                      </div>\
                                                    </div>\
                                                    <div class="col-4 text-end">\
                                                      <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">\
                                                          <img src="'+ this.imagePath + '" class="avatar avatar-sm me-3" />\
                                                      </div>\
                                                    </div>\
                                                  </div>\
                                                </div>\
                                                </div>\
                                              </div>\ ';

                                                });
                                            }
                                        });

                                    });
                                } else {
                                    $.each(response, function () {


                                        if ($('input[name="RadioOptions"]:checked').val() == "ProfitLoss") {
                                            LabelVal = this.totalProfitLoss;
                                            Sum = Sum + parseFloat(this.totalProfitLoss);
                                            TotalLabel = "Total Revenue : ";
                                        }
                                        else if ($('input[name="RadioOptions"]:checked').val() == "BetAmount") {
                                            LabelVal = this.totalBetAmount;
                                            Sum = Sum + parseFloat(this.totalBetAmount);
                                            TotalLabel = "Total Volume : ";
                                        }
                                        else if ($('input[name="RadioOptions"]:checked').val() == "NoOfBetCount") {
                                            LabelVal = this.totalBet;
                                            Sum = Sum + parseFloat(this.totalBet);
                                            TotalLabel = "Total Bets : ";
                                        }

                                        Div = Div + '\
                                  <div class="col-xl-3 col-sm-6 mb-0 mt-2">\
                                    <div class="card">\
                                    <div class="card-body p-3">\
                                      <div class="row align-items-center">\
                                        <div class="col-8">\
                                          <div class="numbers">\
                                            <p class="text-xs mb-0 text-capitalize font-weight-bold">'+ this.name + '</p>\
                                            <h5 class="font-weight-bold mb-0">\
                                              '+ LabelVal + '\
                                              <span class="text-success text-sm font-weight-bold">' + this.gameCode + '</span>\
                                            </h5>\
                                          </div>\
                                        </div>\
                                        <div class="col-4 text-end">\
                                          <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">\
                                              <img src="'+ this.imagePath + '" class="avatar avatar-sm me-3" />\
                                          </div>\
                                        </div>\
                                      </div>\
                                    </div>\
                                    </div>\
                                  </div>\ ';



                                    });
                                }
                                LabelVal = 0;
                                if (Sum >= 0) {
                                    $("#lblmessage").css("display", "block")
                                    TotalLabel = "<label style='font-weight:600;' class='green mb-0 ms-sm-0'>" + TotalLabel + Sum.toFixed(2) + "</label>";
                                }
                                else {
                                    $("#lblmessage").css("display", "block")
                                    TotalLabel = "<label style='font-weight:600;' class='red mb-0 ms-sm-0'>" + TotalLabel + Sum.toFixed(2) + "</label>";
                                }


                                $("#displaylabel").append(TotalLabel);
                                $("#GameList").append(Div);
                            }
                            else {
                                swal("No Games Available !!", "", "warning", {
                                    button: "Close",
                                });
                                $("#displaylabel").empty();
                                $("#GameList").empty();
                            }

                        },
                        error: function (err) {
                            alert(err.statusText);
                        }
                    });

                }
            }
    });
    </script>

}


<div class="container-fluid px-3 px-sm-4">
    <div class="card blur shadow-blur ">




        @*<div class="card-header">
                <h3 class="card-title">Card View</h3>
            </div>*@
        <div class="card-body">
            <form action="#" class="form-horizontal">

                <div class="row mb-2">
                    <div class="col-12">
                        <div class="nav-wrapper" navbar-scroll="true">
                            @*<div class="align-items-center" style="float:left;padding:5px">
                                <i class="fa fa-clock d-sm-inline d-none cursor-pointer fa-2x"></i>
                            </div>*@
                            <ul class="nav  nav-pills p-2 align-items-center" navbar-scroll="true" role="tablist">

                                <li class="nav-item">
                                    <a class="nav-link active " data-bs-toggle="tab" href="javascript:;"  role="tab" aria-selected="true">

                                        <span class="font-weight-bold text-sm" id="custom">Custom</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="false">

                                        <span class="font-weight-bold text-sm" id="today">Today</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="javascript:;" role="tab" aria-selected="false">

                                        <span class="font-weight-bold text-sm" id="yesterday">Yesterday</span>
                                    </a>
                                </li>


                                @*<li class="nav-item dropdown ps-3  d-xl-none  d-flex ">
                                    <a href="javascript:;" class="nav-link input-group-text text-body " id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-clock cursor-pointer fa-2x"></i>


                                    </a>
                                    <ul class="dropdown-menu bg-gray-100  dropdown-menu-end   px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
                                        <li class="mb-2">
                                            <a class="dropdown-item border-radius-md" href="javascript:;">
                                                <div class="d-flex py-1">

                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="text-sm font-weight-normal mb-1">
                                                            <span id="custom" class="font-weight-bold">Custom</span>
                                                        </h6>

                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="mb-2">
                                            <a class="dropdown-item border-radius-md" href="javascript:;">
                                                <div class="d-flex py-1">

                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="text-sm font-weight-normal mb-1">
                                                            <span id="today" class="font-weight-bold">Today</span>
                                                        </h6>

                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item border-radius-md" href="javascript:;">
                                                <div class="d-flex py-1">

                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="text-sm font-weight-normal mb-1">
                                                            <span id="yesterday" class="font-weight-bold">Yesterday</span>
                                                        </h6>

                                                    </div>
                                                </div>
                                            </a>
                                        </li>


                                    </ul>
                                </li>*@
                                <li class="nav-item ms-auto d-sm-inline d-none">
                                    <div class="input-group" style="background:#16ef13">
                                        <span class="input-group-text text-body"><i class="fa fa-eye" aria-hidden="true"></i></span>

                                        <span class="ms-1 font-weight-bold text-sm text-dark" style="padding:5px 10px 5px 6px;" id="userviews"></span>

                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>                    
                </div>

                <div class="row g-2">
                    <div class="col-md-12">
                        <div class="row gx-6">
                            <div class="col-auto">

                            </div>
                            <div class="col-auto my-auto">
                                <div class="h-100">
                                    <h5 class="mb-1">
                                    </h5>
                                    <p class="mb-0 font-weight-bold text-sm">

                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3">
                        <div class="form-group row">
                            <label class="col-md-12 ">Platform</label>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <select id="ddlPlatform" class="select2 form-control w-100" data-placeholder="Choose a Platform...">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-3">
                        <div class="form-group row">
                            <label class="col-md-12 ">Time Zone</label>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <select id="formtimezone" onkeydown="return false;" class="formtimezone form-control input-group-append" placeholder="">
                                        <option>
                                            UTC
                                        </option>
                                        <option>
                                            IST
                                        </option>
                                        <option>
                                            GST
                                        </option>
                                    </select>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="startdate" class="col-6 col-sm-6 col-md-3">
                        <div class="form-group row">
                            <label class="col-md-12 ">Start Date</label>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <input type="text" id="fromdate" onkeydown="return false;" class="form-control datepicker-report" placeholder="dd/mm/yyyy">
                                    <span class="input-group-text text-body"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="enddate" class="col-6 col-sm-6 col-md-3">
                        <div class="form-group row">
                            <label class="col-md-12 ">End Date</label>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <input type="text" id="todate" onkeydown="return false;" class="form-control datepicker-report" placeholder="dd/mm/yyyy">
                                    <span class="input-group-text text-body"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>

                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>

                <div class="row">
                    <div class="col-12">

                        <div class=" form-check-inline">
                            <input class="RadioStyle" type="radio" name="RadioOptions" value="ProfitLoss" checked>
                            <label class="" for="inlineRadio1">Revenue</label>
                        </div>
                        <div class=" form-check-inline">
                            <input class=" RadioStyle" type="radio" name="RadioOptions" value="BetAmount">
                            <label class="" for="inlineRadio2">Volume</label>
                        </div>
                        <div class=" form-check-inline">
                            <input class=" RadioStyle" type="radio" name="RadioOptions" value="NoOfBetCount">
                            <label class="" for="inlineRadio3">#Bets</label>
                        </div>
                        <div class="d-inline-block ms-2">
                            <button class="btn-primary btn mb-0" id="btnrefresh"><i class="fa fa-refresh" id="refresh-button"></i></button>
                        </div>




                        <div class="col-12 mt-3 text-center" id="lblmessage">
                            <span id="displaylabel"><label class="mb-0 ms-sm-0" style="font-weight: 600;"> </label></span>
                        </div>



                    </div>
                </div>

            </form>
        </div>


    </div>


</div>


<div class="container-fluid p-3 p-sm-4">
    <div class="card card-body blur shadow-blur " id="GameContainer">
        <div class="row g-2" id="GameList">

        </div>
    </div>
</div>



@section FooterFiles{

    <!-- jQuery  -->
    <script src="~/plugins/moment/moment.min.js"></script>

    <!-- jQuery
    <script src="~/plugins/waypoints/lib/jquery.waypoints.js"></script>
    <script src="~/plugins/counterup/jquery.counterup.min.js"></script>
        -->
    <!-- skycons
    <script src="~/plugins/skyicons/skycons.min.js"></script>-->
    <!--Datepicker-->
    <script src="~/plugins/bootstrap-datetimepicker/dist/js/datepicker.min.js?v=n3JjkWy2QIc2IH5rOc8Ty4hwyMRPfOdWWfLQWrSi5rY"></script>
    <script src="~/plugins/bootstrap-datetimepicker/dist/js/datepicker.en.js?v=7UnPR3AWcMawuuUmM6DTjsaKdLBKiimReIj6-cBfeZI"></script>


    <!-- jQuery
    <script src="~/plugins/waypoints/lib/jquery.waypoints.js"></script>
    <script src="~/plugins/counterup/jquery.counterup.min.js"></script> -->
    <!-- skycons
    <script src="~/plugins/skyicons/skycons.min.js"></script> -->

    <script>
        jQuery(document).ready(function ($) {
            /* Counter Up
            $('.counter').counterUp({
                delay: 100,
                time: 1200
            });*/


            if (jQuery('.datepicker-report').datepicker().data('datepicker') !== undefined) {
                var todayDate = moment();
                $("#fromdate").datepicker().data('datepicker').selectDate(new Date(todayDate.startOf('day')));
                //$("#fromdate").datepicker().data('datepicker').selectDate(new Date(todayDate.endOf('day')));
                $("#todate").datepicker().data('datepicker').selectDate(new Date(todayDate.endOf('day')));
            }
        });

        jQuery('.datepicker-report').datepicker({
            language: 'en',
            dateFormat: 'dd/mm/yyyy',
            timepicker: true,
            dateTimeSeparator: " ",
            timeFormat: "hh:ii AA",
            autoClose: true
        });

    </script>

}
