﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";



}
@{


    @section headFiles{

        <!--Datepicker-->
        <link href="~/plugins/bootstrap-datetimepicker/dist/css/datepicker.min.css?v=q0wZgzQ6Ru67x-pIe9IAztrnlHNHyZui3BMwqUYDnpI" rel="stylesheet">

        <link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet">
        <link href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css" rel="stylesheet">
        <script src='/select2/jquery-3.2.1.min.js' type='text/javascript'></script>
        <script src='/select2/dist/js/select2.min.js' type='text/javascript'></script>

        <link href='/select2/dist/css/select2.min.css' rel='stylesheet' type='text/css'>

        <style>
            .select2-dropdown.select2-dropdown--below {
                /*width: 148px !important;*/
            }

            .select2-container--default .select2-selection--single {
                padding: 6px;
                height: 37px;
                width: 148px;
                font-size: 1.2em;
                position: relative;
            }

                .select2-container--default .select2-selection--single .select2-selection__arrow {
                    background-image: -khtml-gradient(linear, left top, left bottom, from(#cb0c9f), to(#030303));
                    background-image: -moz-linear-gradient(top, #cb0c9f, #030303);
                    background-image: -ms-linear-gradient(top, #cb0c9f, #030303);
                    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cb0c9f), color-stop(100%, #030303));
                    background-image: -webkit-linear-gradient(top, #cb0c9f, #030303);
                    background-image: -o-linear-gradient(top, #cb0c9f, #030303);
                    background-image: linear-gradient(#cb0c9f, #030303);
                    width: 40px;
                    color: #fff;
                    font-size: 1.3em;
                    padding: 4px 12px;
                    height: 27px;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    width: 20px;
                }


        </style>
        <style>
            textarea {
                border: none;
                background-color: transparent;
                resize: none;
                outline: none;
            }

            .ddlstyle {
                width: 100%;
            }

            .red {
                color: red;
                line-height: 1;
            }

            .displaylabel {
                display: flex;
                width: 100%;
                /*justify-content: flex-end;*/
            }

            .green {
                color: green;
                line-height: 1;
            }



            .card-body {
                padding: 0.25rem 1.25rem 0.25rem 1.25rem;
            }

            .dt-buttons {
                margin-left: 12px;
            }
        </style>
        <style media="all" type="text/css">
            .alignRight {
                text-align: right;
            }
        </style>


        <script>
        function getUtcOffset(date) {
            return moment(date)
                .subtract(
                    new Date().getTimezoneOffset(),
                    'minutes')
                .utc()
        }
            $(document).ready(function () {
                /*$('select').select2();*/
            var groupname = "";
            var AgentIds = "";
            $('#bar').css("display", "none")
            var selectedtimezone = "";
            var clickHandler = "click";

            if ('ontouchstart' in document.documentElement) {
                clickHandler = "touchstart";
            }

            $("select.formtimezone").change(function () {

                 selectedtimezone = "";
                 selectedtimezone = $(this).children("option:selected").val();

            });


            $('#datatable').DataTable();

            var ddlPlatform = $("#ddlPlatform");

            function binddropdown() {

                $.ajax({
                    url: '@Url.Action("GetPlatformList", "Home")',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: "{}",
                    success: function (response) {
                        ddlPlatform.empty().append('<option selected="selected" value="0">Select Platform</option>');

                        $.each(response, function () {
                            ddlPlatform.append($("<option></option>").val(this['value']).html(this['text']));
                        });
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });

            }
            binddropdown();


            // button click
            $('#btnLoadPL').bind(clickHandler,function (e) {
                e.preventDefault();
                $('#invoice1').css("display", "block")
                $('#invoice2').css("display", "none")
                $('#datatable').DataTable().clear().draw();

                  if ($("#ddlPlatform option:selected").val() == "0")
             {
                swal("Please Select Platform !!", "", "warning", {
                    button: "Close",
                });

            }
            else {

                $('#datatable_body').empty();
                $('#datatable_footer').empty();


                var SelectedOption = "";


            if ($("#ddlPlatform option:selected").text() == "Power Games") {
                SelectedOption = "PowerGame";

            }
            else {
                SelectedOption = "SuperNowa";
            }
                var URL = '@Url.Action("GetGroupList", "Home")';




                var columns = [];
                $.ajax({
                    url: URL,
                    type: "POST",
                    'data': {
                            "PlatformId": $("#ddlPlatform option:selected").val(),
                            "PlatformName": $("#ddlPlatform option:selected").text(),
                            "SelectedOption": SelectedOption,
                            "Search": '',
                            "PageNo": '',
                            "PageSize":'20'


                      },


                    success: function (data) {

                        columnNames = Object.keys(data.groupLists[0]);
                        for (var i in columnNames) {
                            columns.push({
                                data:  columnNames[i],

                                title: columnNames[i]
                            });

                        }
                        $('#datatable').DataTable({

                            "processing": true, // for show progress bar
                            "serverSide": false, // for process server side
                            "bDestroy": true,
                            "bJQueryUI": true,
                            "pageLength": 20,
                            "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]],
                            "sEmptyTable": "Loading data from server",
                            "dom": 'T<"clear"><"button">lfrtip',
                            "rowReorder": true,
                            "data": data.groupLists,
                            "columns": columns



                        });
                    }
                });




            }





            });
            $('#close').on('click', function (e) {

                $('#largeModal').modal('hide');
            });

            $('#show').on('click', function (e) {
                e.preventDefault();
                $('#invoice1').css("display", "none")
                $('#invoice2').css("display", "block")

                $('#bar').css("display", "block")

                $('#largeModal').modal('hide');
                  if ($("#ddlPlatform option:selected").val() == "0")
             {
                swal("Please Select Platform !!", "", "warning", {
                    button: "Close",
                });

            }
            else {

                      $('#records_table').empty();
                $('#datatable_footer').empty();



                var SelectedOption = "";


            if ($("#ddlPlatform option:selected").text() == "Power Games") {
                SelectedOption = "PowerGame";

            }
            else {
                SelectedOption = "SuperNowa";
                      }

                      var URL = '@Url.Action("GetGroupInvoiceList", "Home")';
                      console.log(URL);

                      var fromDate = moment($("#fromdate").val(), 'DD/MM/YYYY hh:mm A');

                      var toDate = moment($("#todate").val(), 'DD/MM/YYYY hh:mm A');
                      if (selectedtimezone == "IST") {

                          var currentTime = new Date();
                          var currentOffset = currentTime.getTimezoneOffset();
                          console.log("current offset" + currentOffset);
                          var ISTOffset = 330;   // IST offset UTC +5:30
                          var fromDate = new Date(moment(fromDate, 'DD/MM/YYYY hh:mm A') - (ISTOffset + currentOffset) * 60000);
                          console.log("before  " + fromDate);
                          var toDate = new Date(moment(toDate, 'DD/MM/YYYY hh:mm A') - (ISTOffset + currentOffset) * 60000);


                          var c = fromDate.toJSON().split(':');
                          c.splice(c.length - 1, 1);
                          fromDate = c.join(':') + ':00.000';
                          var b = toDate.toJSON().split(':');
                          b.splice(b.length - 1, 1);
                          toDate = b.join(':') + ':59.999';
                          console.log("IST  " + fromDate + "to Date   " + toDate);


                      }
                      else if (selectedtimezone == "GST") {

                          var currentTime = new Date();
                          var currentOffset = currentTime.getTimezoneOffset();
                          console.log("current offset" + currentOffset);
                          var ISTOffset = 240;   //
                          var fromDate = new Date(moment(fromDate, 'DD/MM/YYYY hh:mm A') - (ISTOffset + currentOffset) * 60000);
                          var toDate = new Date(moment(toDate, 'DD/MM/YYYY hh:mm A') - (ISTOffset + currentOffset) * 60000);



                          var c = fromDate.toJSON().split(':');
                          c.splice(c.length - 1, 1);

                          fromDate = c.join(':') + ':00.000';
                          var b = toDate.toJSON().split(':');

                          b.splice(b.length - 1, 1);
                          toDate = b.join(':') + ':59.999';
                          console.log("DST   " + fromDate + "to Date   " + toDate);


                      } else {
                          var currentTime = new Date();
                          var currentOffset = currentTime.getTimezoneOffset();
                          var fromDate = new Date(moment(fromDate, 'DD/MM/YYYY hh:mm A') - currentOffset * 60000);
                          var toDate = new Date(moment(toDate, 'DD/MM/YYYY hh:mm A') - currentOffset * 60000);

                          var c = fromDate.toJSON().split(':');
                          c.splice(c.length - 1, 1);
                          fromDate = c.join(':') + ':00.000';

                          var b = toDate.toJSON().split(':');
                          b.splice(b.length - 1, 1);
                          toDate = b.join(':') + ':59.999';
                          console.log("Default  " + fromDate + "to Date   " + toDate);

                      }
                      console.log($('input[name="agentids"]').val());
                var columns = [];
                $.ajax({
                    url: URL,
                    type: "POST",
                    'data': {
                            "PlatformId": $("#ddlPlatform option:selected").val(),
                            "PlatformName": $("#ddlPlatform option:selected").text(),
                            "SelectedOption": SelectedOption,
                            "GameID": '',
                            "RAgentUserIds": $('input[name="agentids"]').val(),
                            "FromDate": fromDate ,
                             "ToDate": toDate


                      },


                    success: function (data) {
                        var t = 0;
                        var billto = '';
                        var trHTML =''
                        var trHTML1 = ''
                                @*<th>Rev Share (INR) <span id="adminsharedisplay"></span> %</th>*@

                        var invoicedate = data.invoicedate;
                        var data1 = data.invoice;

                        $.each(data1, function (i, item) {
                            t = t + item.totalProfitLoss;
                            billto += item.agentName + " ";


                            trHTML = trHTML + '<tr><td>' + item.agentName + '</td><td>' + item.totalBet + '</td><td>' + item.totalBetAmount + '</td><td>' + item.totalProfitLoss + '</td><td>' + item.revShare + '</td></tr>';
                        });
                        trHTML1 = '<div class="col-md-12"><div class="row"><div class="col-md-6"><div>Bill To</div><div>' + billto + '</div></div><div id="tblheading" class="col-md-6"><div style="font-family:Calibri;font-size:40px;line-height:1;">Invoice</div><table><tr ><td >Invoice Date </td><td>' + invoicedate + '</td></tr><tr><td>Terms</td><td>  custom</td>  </tr> <tr><td> Due Date </td><td> Immediate</td></tr></table></div></div><div id="invoice_table"><table><tr style="background-color: #808080 !important;color:#ffffff !important;"><th>Name</th><th>Total Bets</th><th>Total Payoff</th><th>PL (INR) <span id="adminsharedisplay"></span></th><th>Rev Share (INR) <span id="adminsharedisplay"></span> %</th></tr>';

                        trHTML = trHTML1 + trHTML + '</table></div><div id="tblfooter" style="margin-left:50%" ><table ><td>Total</td><td>' + t.toFixed(2) + '</td></tr><tr><td>Balance Due</td><td></td></table></div>';
                        console.log(trHTML);
                        $('#records_table').append(trHTML);
                        $('#bar').css("display", "none")
                        $('#invoice2').css("display", "block")


                    }
                });




            }

            });
            $('#datatable tbody').on('click', 'tr', function () {
                var currentRow = $(this).closest("tr");

                groupname = currentRow.find("td:eq(1)").text();

                AgentIds = currentRow.find("td:eq(3)").text();
                groupnames = groupname;
                $('input[name="groupname"]').val(groupname);
                $('input[name="agentids"]').val(AgentIds);
                $('#largeModal').modal('show');
                $('#ddlgroupname').empty();

                $('#ddlgroupname').append($("<option></option>").val($('input[name="groupname"]').val()).html($('input[name="groupname"]').val()));


             //   window.location.href = '@Url.Action("GetFraudDetails", "Satsport")' + '?id='+id+'&name='+name


                   });


        });
        </script>
    }
}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<div class="container-fluid px-3 px-sm-4">

    <div class="card blur shadow-blur mb-4">
        <div class="card-body">

            <div class="col-auto">
                <form action="#" class="form-horizontal">

                    <div class="row">

                        <div class="col-sm-6 col-md-3">
                            <div class="form-group row">
                                <label class="col-md-12 ">Platform</label>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <select id="ddlPlatform" class="select2 form-control" data-placeholder="Choose a Platform...">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <div class="form-group row mb-0">
                                <label class="col-12 d-none d-md-block">&nbsp;&nbsp;&nbsp;</label>
                                <div class="col-12">
                                    <input type="submit" class="btn-primary btn w-100 mb-0" id="btnLoadPL" value="Search" />
                                </div>                                
                            </div>
                        </div>

                        <div id="lblmessage" class="col-sm-9 col-md-6">
                            <div class="form-group row">


                                <span id="displaylabel" class="displaylabel"><label style="font-weight: 600;"></label></span>
                                <div class="input-group-append">

                                    <span id="displaylabel1" style="margin-top:-30px" class="input-group"><label style="font-weight: 200;"></label></span>

                                </div>


                            </div>

                        </div>

                    </div>
                </form>
            </div>
            <div class="col-auto my-auto">
                <input type="hidden" name="groupname" />
                <input type="hidden" name="agentids" />
            </div>

        </div>
    </div>

    <div class="card blur shadow-blur mb-4">
        <div class="card-body">
            <div class="row">

                <div class="col-md-12">


                    <div class="col-12" id="invoice1">
                        <div class="table-responsive p-0">
                            <table id="datatable" class="table align-items-center mb-0 border-0 dataTable">
                                <thead>
                                    <tr>
                                        <th class=""></th>



                                        <th class=""></th>
                                        <th class=""></th>
                                        <th class=""></th>


                                    </tr>
                                </thead>
                                <tbody id="datatable_body"></tbody>
                                <tfoot id="datatable_footer">
                                    <tr><th class=""></th></tr>

                                </tfoot>
                            </table>
                        </div>
                    </div>


                    <div class="col-12" id="invoice2" style="display:none">
                        <div>

                            <div class="card mb-4">



                            </div>
                            <div class="card-body px-0 pt-0 pb-2">
                                <div class="table-responsive p-0">
                                    <div class="row">
                                        <div class="col-md-6 text-center text-md-start mb-2 mb-md-0">

                                        </div>
                                        <div class="col-md-6 text-center text-md-end">
                                            <button class="btn btn-primary" onclick="printDiv('pdf','Title')">PRINT </button>

                                            <button class="btn-primary btn" id="print-btn">save as PDF</button>

                                        </div>
                                    </div>
                                    <div id="pdf" style="width:100%">




                                        <div >
                                            <div id="records_table">

                                            </div>
                                        </div>

                                        <div class="notes">
                                            <h4>Notes</h4>
                                            <h5>Thank you for your business.</h5>
                                        </div>



                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>


                    <div id="bar" class="col-md-12">
                        <div class="row">
                            <div class="col-12 text-center">
                                <div id="progress-bar"> <img src="~/assets/images/8puiO.gif" /></div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>







<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>*@
                <h4 class="modal-title" id="myModalLabel">INVOICE</h4>
            </div>
            <div class="modal-body">
                <div class="row col-md-12">
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group row">
                            <h5>Group Name</h5>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <select id="ddlgroupname" class="form-control  ddlstyle"><option></option></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group row">
                            <label class="col-md-12 ">Time zone</label>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <select id="formtimezone" onkeydown="return false;" class="formtimezone form-control input-group-append" placeholder="">
                                        <option>
                                            UTC
                                        </option>
                                        <option>
                                            IST
                                        </option>
                                        <option>
                                            GST
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group row">
                            <label class="col-md-12 ">From Date</label>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <input type="text" id="fromdate" onkeydown="return false;" class="form-control datepicker-report" placeholder="dd/mm/yyyy">
                                    <span class="input-group-text text-body"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6 col-md-6">
                        <div class="form-group row">
                            <label class="col-md-12 ">To Date</label>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <input type="text" id="todate" onkeydown="return false;" class="form-control datepicker-report" placeholder="dd/mm/yyyy">
                                    <span class="input-group-text text-body"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-start">
                <button type="button" id="show" class="btn btn-primary mb-1">show</button>
                <button type="button" id="close" class="btn btn-default mb-1" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>

</script>
<style>
    #progress-bar img {
        width: 100px;
    }
    #invoice_table {
        width: 100%;
        margin: 20px 0;
    }
    #invoice_table table {
        width: 100%;
    }
</style>

@section FooterFiles{

    <!-- jQuery  -->
    <script src="~/plugins/moment/moment.min.js"></script>

    <!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script>-->
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>



    <!--Datepicker-->
    <script src="~/plugins/bootstrap-datetimepicker/dist/js/datepicker.min.js?v=n3JjkWy2QIc2IH5rOc8Ty4hwyMRPfOdWWfLQWrSi5rY"></script>
    <script src="~/plugins/bootstrap-datetimepicker/dist/js/datepicker.en.js?v=7UnPR3AWcMawuuUmM6DTjsaKdLBKiimReIj6-cBfeZI"></script>


    <!-- jQuery
    <script src="~/plugins/waypoints/lib/jquery.waypoints.js"></script>
    <script src="~/plugins/counterup/jquery.counterup.min.js"></script> -->
    <!-- skycons
    <script src="~/plugins/skyicons/skycons.min.js"></script> -->
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>
        <script src="~/assets/js/html2canvas.js"></script>
        <script src="~/assets/js/html2canvas.min.js"></script>
        <script src="~/assets/js/jspdf.debug.js"></script>
        <style>
            th, td {
                text - align: center;
                border: 1 px solid black;
                border - collapse: collapse;
            }
        </style>*@

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
    <script type="text/javascript">

        $('#print-btn').click(() => {
            genPDF();

        })
        function genPDF() {
            html2canvas($('#pdf')[0], {
                onrendered: function (canvas) {

                    var imgWidth = (canvas.width * 35) / 240;
                    var imgHeight = (canvas.height * 50) / 240;
                    var img = canvas.toDataURL("image/png");
                    var doc = new jsPDF();
                    doc.addImage(img, 'JPEG', 10, 10,imgWidth,imgHeight);
                    doc.save(jQuery.now() + 'Invoice.pdf');
                }

            });

        }
    </script>
    <script>
        var doc = new jsPDF();

        function saveDiv(divId, title) {
            doc.fromHTML('<html><head><title>${title}</title></head><body>` + document.getElementById(divId).innerHTML + `</body></html>');

            doc.save('div.pdf');
        }

        function printDiv(divId, title) {

            let mywindow = window.open('', 'PRINT', 'height=650,width=100%,top=100,left=150');

            mywindow.document.write(`<html><head><title>${title}</title>`);
            mywindow.document.write('</head><body >');
            mywindow.document.write(document.getElementById(divId).innerHTML);
            mywindow.document.write('</body></html>');

            mywindow.document.close(); // necessary for IE >= 10
            mywindow.focus(); // necessary for IE >= 10*/

            mywindow.print();
            mywindow.close();

            return true;
        }

        function demoFromHTML() {

            var pdf = new jsPDF('p', 'pt', 'a4');

            // source can be HTML-formatted string, or a reference
            // to an actual DOM element from which the text will be scraped.
            source = $('#pdf')[0];

            // we support special element handlers. Register them with jQuery-style
            // ID selector for either ID or node name. ("#iAmID", "div", "span" etc.)
            // There is no support for any other type of selectors
            // (class, of compound) at this time.
            specialElementHandlers = {
                // element with id of "bypass" - jQuery style selector
                '#bypassme': function (element, renderer) {
                    // true = "handled elsewhere, bypass text extraction"
                    return true
                }
            };
            margins = {
                top: 150,
                bottom: 60,
                left: 40,
                right: 40,
                width: 500
            };
            //pdf.addHTML(document.body, margins.top, margins.left, {}, function () {
            //    alert("hi");
            //    pdf.save('test.pdf');
            //});
            // all coords and widths are in jsPDF instance's declared units
            // 'inches' in this case
            pdf.fromHTML(
                source, // HTML string or DOM elem ref.
                margins.left, // x coord
                margins.top, { // y coord
                'width': margins.width, // max width of content on PDF
                'elementHandlers': specialElementHandlers

            },


                function (dispose) {
                    // dispose: object with X, Y of the last line add to the PDF
                    //          this allow the insertion of new lines after html
                    pdf.save('Test.pdf');
                }, margins);
        }
    </script>
    <script>
        jQuery(document).ready(function ($) {
            /* Counter Up
            $('.counter').counterUp({
                delay: 100,
                time: 1200
            });*/


            if (jQuery('.datepicker-report').datepicker().data('datepicker') !== undefined) {
                var todayDate = moment();
                $("#fromdate").datepicker().data('datepicker').selectDate(new Date(todayDate.startOf('day')));
                //$("#fromdate").datepicker().data('datepicker').selectDate(new Date(todayDate.endOf('day')));
                $("#todate").datepicker().data('datepicker').selectDate(new Date(todayDate.endOf('day')));
            }
        });

        jQuery('.datepicker-report').datepicker({
            language: 'en',
            dateFormat: 'dd/mm/yyyy',
            timepicker: true,
            dateTimeSeparator: " ",
            timeFormat: "hh:ii AA",
            autoClose: true
        });

    </script>

}


