﻿
@{
    ViewData["Title"] = "SecondDashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section headFiles{
    <script src='/select2/jquery-3.2.1.min.js' type='text/javascript'></script>
    <script src='/select2/dist/js/select2.min.js' type='text/javascript'></script>

    <link href='/select2/dist/css/select2.min.css' rel='stylesheet' type='text/css'>

    <style>
        .select2-dropdown.select2-dropdown--below {
            /*width: 148px !important;*/
        }

        .select2-container--default .select2-selection--single {
            padding: 6px;
            height: 37px;
            width: 148px;
            font-size: 1.2em;
            position: relative;
        }

            .select2-container--default .select2-selection--single .select2-selection__arrow {
                background-image: -khtml-gradient(linear, left top, left bottom, from(#cb0c9f), to(#030303));
                background-image: -moz-linear-gradient(top, #cb0c9f, #030303);
                background-image: -ms-linear-gradient(top, #cb0c9f, #030303);
                background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cb0c9f), color-stop(100%, #030303));
                background-image: -webkit-linear-gradient(top, #cb0c9f, #030303);
                background-image: -o-linear-gradient(top, #cb0c9f, #030303);
                background-image: linear-gradient(#cb0c9f, #030303);
                width: 40px;
                color: #fff;
                font-size: 1.3em;
                padding: 4px 12px;
                height: 27px;
                position: absolute;
                top: 0px;
                right: 0px;
                width: 20px;
            }

        .RadioStyle {
            margin-top: 14px !important;
            transform: scale(1.35);
            margin-right: 5px !important;
            margin-left: 5px !important;
        }

        .py-6 {
            padding-top: 1rem !important;
            padding-bottom: 1rem !important;
        }

        .hide {
        }
    </style>

    <script>

        $(document).ready(function () {
            $('select').select2();
           // $("#LineChartSection").css("display","none");

            $("#gamecontainer").css("display", "none");
            var ddlPlatform = $("#ddlPlatform");
            var ddlGame = $("#ddlGame");
            function binddropdown() {

                $.ajax({
                    url: '@Url.Action("GetPlatformList", "Home")',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: "{}",
                    success: function (response) {
                        ddlPlatform.empty().append('<option selected="selected" value="0">Select Platform</option>');

                        $.each(response, function () {
                            ddlPlatform.append($("<option></option>").val(this['value']).html(this['text']));
                        });
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });

            }
            binddropdown();



            $("#ddlPlatform").change(function () {

               // $('#RunnerDiv').empty();
              //  $("#LineChartSection").css("display", "none");
                if ($('option:selected', this).val() != "0") {

                    ddlGame.empty();

                    var SelectedOption = "";

                    if ($("#ddlPlatform option:selected").text() == "Power Games") {
                        SelectedOption = "PowerGame";
                    }
                    else {
                        SelectedOption = "SuperNowa";
                    }

                    var fdata = new FormData();
                    fdata.append("PlatformId", $("#ddlPlatform option:selected").val());
                    fdata.append("PlatformName", $("#ddlPlatform option:selected").text());
                    fdata.append("SelectedOption", SelectedOption);

                $.ajax({
                    url: '@Url.Action("GetGameListForChart", "Home")',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fdata,
                    success: function (response) {
                        ddlGame.empty().append('<option selected="selected" value="0">Select Game</option>');
                        $.each(response, function () {
                            ddlGame.append($("<option></option>").val(this['value']).html(this['text']));
                        });
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });

                }
                else {
                   // $('#datatable').DataTable().clear().draw();
                    ddlGame.empty();
                }

            });

            $("#ddlGame").change(function () {
              //  $("#LineChartSection").css("display", "none");
                if ($('option:selected', this).val() != "0") {

                    $.fn.LoadLineChart();

                }
                else {
                   // $("#displaylabel").empty();
                   // $("#GameList").empty();
                }

            });


            $('input[type=radio][name=RadioOptions]').change(function () {

                if ($("#ddlPlatform option:selected").val() != "0" && $("#ddlGame option:selected").val() != "0") {

                    $.fn.LoadLineChart();

                }
                else {
                  //  $("#displaylabel").empty();
                   // $("#GameList").empty();
                }

            });

            $.fn.LoadLineChart = function () {

                $("#gamecontainer").css("display", "block");

                var fdata = new FormData();

                fdata.append("PlatformId", $("#ddlPlatform option:selected").val());
                fdata.append("PlatformName", $("#ddlPlatform option:selected").text());

                if ($("#ddlPlatform option:selected").text() == "Power Games") {
                    fdata.append("SelectedOption", "PowerGame");
                    fdata.append("GameID", $("#ddlGame option:selected").val());
                }
                else {
                    fdata.append("SelectedOption", $('input[name="RadioOptions"]:checked').val());
                    fdata.append("GameID", $("#ddlGame option:selected").val());
                }


                    $.ajax({
                        url: '@Url.Action("GetLineChartData", "Home")',
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: fdata,
                        success: function (response) {
                            if (response != "0" && response != null) {


                                var Y_Axis = new Array(response.length).fill(0);
                                var X_Axis = new Array(response.length).fill(0);
                                var i = 0;
                                $.each(response, function () {

                                    X_Axis[i] = this.createdDate;
                                    if ($('input[name="RadioOptions"]:checked').val() == "ProfitLoss") {
                                        Y_Axis[i] = this.totalProfitLoss;
                                    }
                                    else if ($('input[name="RadioOptions"]:checked').val() == "BetAmount") {
                                        Y_Axis[i] = this.totalBetAmount;
                                    }
                                    else if ($('input[name="RadioOptions"]:checked').val() == "NoOfBetCount") {
                                        Y_Axis[i] = this.totalBet;
                                    }
                                    i++;
                                });

                                var linedata = {
                                    labels: X_Axis,
                                    datasets: [
                                        {
                                            label: "",
                                            data: Y_Axis,
                                            backgroundColor: [
                                                'rgba(255, 99, 132, 0.2)',
                                                'rgba(54, 162, 235, 0.2)',
                                                'rgba(255, 206, 86, 0.2)',
                                                'rgba(75, 192, 192, 0.2)',
                                                'rgba(153, 102, 255, 0.2)',
                                                'rgba(255, 159, 64, 0.2)'
                                            ],
                                            borderColor: [
                                                'rgba(255, 99, 132, 1)',
                                                'rgba(54, 162, 235, 1)',
                                                'rgba(255, 206, 86, 1)',
                                                'rgba(75, 192, 192, 1)',
                                                'rgba(153, 102, 255, 1)',
                                                'rgba(255, 159, 64, 1)'
                                            ],
                                            borderWidth: 1
                                        }
                                    ]
                                };

                                $('#lineChart').remove(); // this is my <canvas> element
                                $('#lineChartBody').append('<canvas id="lineChart" data-type="Line" width="660" height="300"></canvas>');
                                $.ChartJs.respChart($("#lineChart"), 'Line', linedata)
                               // $("#LineChartSection").css("display", "block");

                                var bardata = {
                                    labels: X_Axis,
                                    datasets: [
                                        {
                                            label: "",
                                            data: Y_Axis,
                                            backgroundColor: [
                                                'rgba(255, 99, 132, 0.2)',
                                                'rgba(54, 162, 235, 0.2)',
                                                'rgba(255, 206, 86, 0.2)',
                                                'rgba(75, 192, 192, 0.2)',
                                                'rgba(153, 102, 255, 0.2)',
                                                'rgba(255, 159, 64, 0.2)'
                                            ],
                                            borderColor: [
                                                'rgba(255, 99, 132, 1)',
                                                'rgba(54, 162, 235, 1)',
                                                'rgba(255, 206, 86, 1)',
                                                'rgba(75, 192, 192, 1)',
                                                'rgba(153, 102, 255, 1)',
                                                'rgba(255, 159, 64, 1)'
                                            ],
                                            borderWidth: 1
                                        }
                                    ]
                                }

                                $('#barChart').remove(); // this is my <canvas> element
                                $('#barChartBody').append('<canvas id="barChart" data-type="Bar" width="660" height="300"></canvas>');
                                $.ChartJs.respChart($("#barChart"), 'Bar', bardata)

                            }
                            else {

                              //  $("#LineChartSection").css("display", "none");
                            }

                        },
                        error: function (err) {
                            alert(err.statusText);
                        }
                    });

            }


        });

    </script>

}



<div class="container-fluid px-3 px-sm-4">
        <div class="card blur shadow-blur">
            @*<div class="card-header">
                    <h3 class="card-title">Line Chart</h3>
                </div>*@
            <div class="card-body">
                <form action="#" class="form-horizontal">
                    <div class="row g-2">
                        <div class="col-sm-6 col-md-3">
                            <div class="form-group row">
                                <label class="col-md-12 ">Platform</label>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <select id="ddlPlatform" class="select2 form-control" data-placeholder="Choose a Platform...">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <div class="form-group row">
                                <label class="col-md-12 ">Game</label>
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <select id="ddlGame" class="select2 form-control" data-placeholder="Choose a Platform...">
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6">
                            <div class="form-group row">
                                <label class="col-md-12 d-none d-md-block">&nbsp;</label>
                                <div class="col-md-12 search-button-margin text-start text-sm-center">
                                    <div class="form-check-inline">
                                        <input class="RadioStyle" type="radio" name="RadioOptions" value="ProfitLoss" checked>
                                        <label class="" for="inlineRadio1">Revenue</label>
                                    </div>
                                    <div class="form-check-inline">
                                        <input class="RadioStyle" type="radio" name="RadioOptions" value="BetAmount">
                                        <label class="" for="inlineRadio2">Volume</label>
                                    </div>
                                    <div class=" form-check-inline">
                                        <input class="RadioStyle" type="radio" name="RadioOptions" value="NoOfBetCount">
                                        <label class="" for="inlineRadio3">#Bets</label>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </form>
            </div>


        </div>
</div>
<div id="gamecontainer" class="container-fluid p-3 p-sm-4">

    <div class="row" id="LineChartSection">

        <div class="col-lg-6">
            <div class="card card-border card-primary mb-3 mb-lg-0">
                <div class="card-header">
                    <h3 class="card-title text-primary"></h3>
                </div>
                <div class="card-body" id="lineChartBody">
                    <canvas id="lineChart" data-type="Line" width="660" height="300"></canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card card-border card-primary">
                <div class="card-header">
                    <h3 class="card-title text-primary"></h3>
                </div>
                <div class="card-body" id="barChartBody">
                    <canvas id="barChart" data-type="Bar" width="660" height="300"></canvas>
                </div>
            </div>
        </div>
    </div>

</div>

@section FooterFiles{

    <!-- jQuery
    <script src="~/plugins/moment/moment.min.js"></script>-->
    <!-- Chart JS -->
    <!-- <script src="~/plugins/Chart.js/Chart.min.js"></script>-->


    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>

    <script src="~/assets/pages/chartjsCustomBar.init.js"></script>

    <!-- jQuery
    <script src="~/plugins/waypoints/lib/jquery.waypoints.js"></script>
    <script src="~/plugins/counterup/jquery.counterup.min.js"></script>
        -->
    <!-- skycons
    <script src="~/plugins/skyicons/skycons.min.js"></script>-->

}

