﻿
@{
    ViewData["Title"] = "ThirdDashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section headFiles{
    <script src='/select2/jquery-3.2.1.min.js' type='text/javascript'></script>
    <script src='/select2/dist/js/select2.min.js' type='text/javascript'></script>

    <link href='/select2/dist/css/select2.min.css' rel='stylesheet' type='text/css'>

    <style>
        .select2-dropdown.select2-dropdown--below {
            /*width: 148px !important;*/
        }

        .select2-container--default .select2-selection--single {
            padding: 6px;
            height: 37px;
            width: 148px;
            font-size: 1.2em;
            position: relative;
        }

            .select2-container--default .select2-selection--single .select2-selection__arrow {
                background-image: -khtml-gradient(linear, left top, left bottom, from(#cb0c9f), to(#030303));
                background-image: -moz-linear-gradient(top, #cb0c9f, #030303);
                background-image: -ms-linear-gradient(top, #cb0c9f, #030303);
                background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cb0c9f), color-stop(100%, #030303));
                background-image: -webkit-linear-gradient(top, #cb0c9f, #030303);
                background-image: -o-linear-gradient(top, #cb0c9f, #030303);
                background-image: linear-gradient(#cb0c9f, #030303);
                width: 40px;
                color: #fff;
                font-size: 1.3em;
                padding: 4px 12px;
                height: 27px;
                position: absolute;
                top: 0px;
                right: 0px;
                width: 20px;
            }

        .RadioStyle {
            margin-top: 14px !important;
            transform: scale(1.35);
            margin-right: 5px !important;
            margin-left: 5px !important;
        }

        .py-6 {
            padding-top: 1rem !important;
            padding-bottom: 1rem !important;
        }

        .piechart {
            height: 400px !important;
            width: 564px !important;
        }
    </style>

    <script>

        $(document).ready(function () {
            $('select').select2();
          //  $("#PieChartSection").css("display", "none");
            $("#gamecontainer").css("display", "none");
            var ddlPlatform = $("#ddlPlatform");
            var ddlGame = $("#ddlGame");

            function binddropdown() {

                $.ajax({
                    url: '@Url.Action("GetPlatformList", "Home")',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: "{}",
                    success: function (response) {
                        ddlPlatform.empty().append('<option selected="selected" value="0">Select Platform</option>');

                        $.each(response, function () {
                            ddlPlatform.append($("<option></option>").val(this['value']).html(this['text']));
                        });
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });

            }
            binddropdown();


            $("#ddlPlatform").change(function () {

                if ($('option:selected', this).val() != "0") {
                    LoadGameWisePieChart();
                }
                else {
                   // $('#datatable').DataTable().clear().draw();
                   //   ddlGame.empty();
                    $('#GamepieChart').remove(); // this is my <canvas> element
                    $('#GameLosspieChart').remove();
                }
            });

            $('input[type=radio][name=RadioOptions]').change(function () {

                if ($("#ddlPlatform option:selected").val() != "0") {
                 //   LoadPlatformWisePieChart();
                    LoadGameWisePieChart();
                }
                else {
                   // LoadPlatformWisePieChart();
                    //empty second piechart
                }
            });


            function LoadGameWisePieChart () {

                var fdata = new FormData();
                fdata.append("PlatformId", $("#ddlPlatform option:selected").val());
                fdata.append("PlatformName", $("#ddlPlatform option:selected").text());

                if ($("#ddlPlatform option:selected").text()=="Power Games") {
                    fdata.append("SelectedOption","PowerGame");
                }
                else {
                    fdata.append("SelectedOption", $('input[name="RadioOptions"]:checked').val());
                }

                    $.ajax({
                        url: '@Url.Action("GetGameListforPieChart", "Home")',
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: fdata,
                        success: function (response) {



                            if (response != "0" && response != null) {
                              //  $("#PieChartSection").css("display", "block");
                                $("#gamecontainer").css("display", "block");
                                var TotalSum = 0, TotalProfit = 0, TotalLoss = 0;

                                Array.prototype.sum = function (prop) {
                                    var total = 0
                                    for (var i = 0, _len = this.length; i < _len; i++) {
                                        total += parseFloat(this[i][prop])
                                    }
                                    return total
                                }

                                Array.prototype.PositiveSum = function (prop) {
                                    var total = 0
                                    for (var i = 0, _len = this.length; i < _len; i++) {

                                        if (parseFloat(this[i][prop])>=0) {
                                            total = total + parseFloat(this[i][prop])
                                        }
                                    }
                                    return total
                                }

                                Array.prototype.NegativeSum = function (prop) {
                                    var total = 0
                                    for (var i = 0, _len = this.length; i < _len; i++) {
                                        if (parseFloat(this[i][prop]) < 0) {
                                            total = total + (parseFloat(this[i][prop])) * (-1);
                                        }
                                    }
                                    return total
                                }

                                var Y_Axis = new Array();
                                var X_Axis = new Array();
                                var Color = new Array();
                                var BorderColor = new Array();
                                var i = 0;

                                $("#ProfitHeader").empty();
                                $("#LossHeader").empty();

                                if ($('input[name="RadioOptions"]:checked').val() == "ProfitLoss") {
                                    TotalProfit = response.PositiveSum("totalProfitLoss");
                                    TotalLoss = response.NegativeSum("totalProfitLoss");

                                    $("#ProfitHeader").append("Profit");
                                    $("#LossHeader").append("Loss");
                                }
                                else if ($('input[name="RadioOptions"]:checked').val() == "BetAmount") {
                                    TotalSum = response.sum("totalBetAmount");
                                    $("#ProfitHeader").append("Volume");
                                }
                                else if ($('input[name="RadioOptions"]:checked').val() == "NoOfBetCount") {
                                    TotalSum = response.sum("totalBet");
                                    $("#ProfitHeader").append("#Bets");
                                }

                                $.each(response, function () {

                                    var percentage = 0, Count = 0;
                                    if ($('input[name="RadioOptions"]:checked').val() == "ProfitLoss") {

                                        if (parseFloat(this.totalProfitLoss) >= 0) {

                                            percentage = ((parseFloat(this.totalProfitLoss) * 100) / TotalProfit).toFixed(2);
                                            Count = parseFloat(this.totalProfitLoss).toFixed(2);

                                            Y_Axis[i] = percentage;
                                            X_Axis[i] = this.name + " (" + Count + ")";

                                            var o = Math.round, r = Math.random, s = 255;
                                            var R = o(r() * s), G = o(r() * s), B = o(r() * s);
                                            var C = 'rgba(' + R + ',' + G + ',' + B + ',0.2)';
                                            var BorderC = 'rgba(' + R + ',' + G + ',' + B + ',1)';
                                            BorderColor[i] = BorderC;
                                            Color[i] = C;

                                            i++;
                                        }

                                    }
                                    else if ($('input[name="RadioOptions"]:checked').val() == "BetAmount") {
                                        percentage = ((parseFloat(this.totalBetAmount) * 100) / TotalSum).toFixed(2);
                                        Count = parseFloat(this.totalBetAmount).toFixed(2);


                                        Y_Axis[i] = percentage;
                                        X_Axis[i] = this.name + " (" + Count + ")";

                                        var o = Math.round, r = Math.random, s = 255;
                                        var R = o(r() * s), G = o(r() * s), B = o(r() * s);
                                        var C = 'rgba(' + R + ',' + G + ',' + B + ',0.2)';
                                        var BorderC = 'rgba(' + R + ',' + G + ',' + B + ',1)';
                                        BorderColor[i] = BorderC;
                                        Color[i] = C;

                                        i++;
                                    }
                                    else if ($('input[name="RadioOptions"]:checked').val() == "NoOfBetCount") {
                                        percentage = ((parseFloat(this.totalBet) * 100) / TotalSum).toFixed(2);
                                        Count = this.totalBet;


                                        Y_Axis[i] = percentage;
                                        X_Axis[i] = this.name + " (" + Count + ")";

                                        var o = Math.round, r = Math.random, s = 255;
                                        var R = o(r() * s), G = o(r() * s), B = o(r() * s);
                                        var C = 'rgba(' + R + ',' + G + ',' + B + ',0.2)';
                                        var BorderC = 'rgba(' + R + ',' + G + ',' + B + ',1)';
                                        BorderColor[i] = BorderC;
                                        Color[i] = C;

                                        i++;
                                    }

                                });

                                const Piedata = {
                                    labels: X_Axis,
                                    datasets: [{
                                        label: 'My First Dataset',
                                        data: Y_Axis,
                                        hoverOffset: 4,
                                        backgroundColor: Color,
                                        borderColor: BorderColor,
                                        borderWidth: 1
                                    }]
                                };

                                $('#GamepieChart').remove(); // this is my <canvas> element
                                $('#GamePieChartBody').append('<canvas id="GamepieChart" data-type="Pie" height="400" width="564"></canvas>');
                                $.ChartJs.respChart($("#GamepieChart"), 'Pie', Piedata);



                                if ($('input[name="RadioOptions"]:checked').val() == "ProfitLoss") {

                                    var Loss_Y_Axis = new Array();
                                    var Loss_X_Axis = new Array();
                                    var Loss_Color = new Array();
                                    var Loss_BorderColor = new Array();
                                    var j = 0;


                                    $.each(response, function () {

                                        if (parseFloat(this.totalProfitLoss) < 0) {

                                            var percentage = 0, Count = 0;
                                            this.totalProfitLoss=parseFloat(this.totalProfitLoss) * (-1);
                                            percentage = ((parseFloat(this.totalProfitLoss) * 100) / TotalLoss).toFixed(2);
                                            Count = parseFloat(this.totalProfitLoss).toFixed(2);

                                            Loss_Y_Axis[j] = percentage;
                                            Loss_X_Axis[j] = this.name + " (" + Count + ")";

                                            var o = Math.round, r = Math.random, s = 255;
                                            var R = o(r() * s), G = o(r() * s), B = o(r() * s);
                                            var C = 'rgba(' + R + ',' + G + ',' + B + ',0.2)';
                                            var BorderC = 'rgba(' + R + ',' + G + ',' + B + ',1)';
                                            Loss_BorderColor[j] = BorderC;
                                            Loss_Color[j] = C;

                                            j++;
                                        }

                                    });

                                    const Loss_Piedata = {
                                        labels: Loss_X_Axis,
                                        datasets: [{
                                            label: 'My First Dataset',
                                            data: Loss_Y_Axis,
                                            hoverOffset: 4,
                                            backgroundColor: Loss_Color,
                                            borderColor: Loss_BorderColor,
                                            borderWidth: 1
                                        }]
                                    };

                                    $('#GameLosspieChart').remove(); // this is my <canvas> element
                                    $('#GameLossPieChartBody').append('<canvas id="GameLosspieChart" data-type="Pie" height="400" width="564"></canvas>');
                                    $.ChartJs.respChart($("#GameLosspieChart"), 'Pie', Loss_Piedata);

                                }
                                else {
                                    $('#GameLosspieChart').remove();
                                }




                            }
                            else {
                                swal("No Games Available !!", "", "warning", {
                                    button: "Close",
                                });
                                $('#GamepieChart').remove(); // this is my <canvas> element
                            //    $("#displaylabel").empty();
                              //  $("#GameList").empty();
                            }

                        },
                        error: function (err) {
                            alert(err.statusText);
                        }
                    });

            }

        });

    </script>

}


<div class="container-fluid px-3 px-sm-4">
    <div class="card blur shadow-blur">

        <div class="card-body">
            <form action="#" class="form-horizontal">
                <div class="form-group row g-2 mb-0">
                    <div class="col-sm-6 col-md-6">
                        <label>Select Platform</label>
                        <div>
                            <select id="ddlPlatform" class="select2 form-control" data-placeholder="Choose a Country...">
                            </select>
                        </div>
                    </div>
                    
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group row mb-0">
                            <label class="col-md-12 d-none d-md-block">&nbsp;</label>
                            <div class="col-md-12 search-button-margin text-start text-sm-center">
                                <div class="form-check-inline">
                                    <input class="RadioStyle" type="radio" name="RadioOptions" value="ProfitLoss" checked>
                                    <label class="" style="margin-top: 14px !important;" for="inlineRadio1">Revenue</label>
                                </div>
                                <div class="form-check-inline">
                                    <input class="RadioStyle" type="radio" name="RadioOptions" value="BetAmount">
                                    <label class="" style="margin-top: 14px !important;" for="inlineRadio2">Volume</label>
                                </div>
                                <div class="form-check-inline">
                                    <input class=" RadioStyle" type="radio" name="RadioOptions" value="NoOfBetCount">
                                    <label class="" style="margin-top: 14px !important;" for="inlineRadio3">#Bets</label>
                                </div>
                            </div>
                        </div>
                        
                        

                    </div>

                </div>
            </form>
        </div>

    </div>
</div>

<div class="container-fluid p-3 p-sm-4" id="gamecontainer">
    <div class="row" id="PieChartSection">

        <div class="col-lg-6">
            <div class="card card-border card-primary mb-3">
                <div class="card-header pb-0">
                    <h4 class="text-primary mb-0" id="ProfitHeader">Profit</h4>
                </div>
                <div class="card-body" id="GamePieChartBody">
                    <canvas id="GamepieChart" class="piechart" height="400" width="564"></canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card card-border card-primary">
                <div class="card-header pb-0">
                    <h4 class="text-primary mb-0" id="LossHeader">Loss</h4>
                </div>
                <div class="card-body" id="GameLossPieChartBody">
                    <canvas id="GameLosspieChart" class="piechart" height="400" width="564"></canvas>
                </div>
            </div>
        </div>

    </div>
</div>
@section FooterFiles{

    <!-- jQuery
    <script src="~/plugins/moment/moment.min.js"></script>-->
    <!-- Chart JS -->
    <!--
    <script src="~/plugins/Chart.js/Chart.min.js"></script>
    <script src="~/assets/pages/chartjsCustom.init.js"></script>-->


    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>

    <script src="~/assets/pages/chartjsCustomBar.init.js"></script>

    <!-- jQuery
    <script src="~/plugins/waypoints/lib/jquery.waypoints.js"></script>
    <script src="~/plugins/counterup/jquery.counterup.min.js"></script>
        -->
    <!-- skycons
    <script src="~/plugins/skyicons/skycons.min.js"></script>-->

}
