﻿
@{
    ViewData["Title"] = "WithdrawalRequest";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@section headFiles{

    <link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css" rel="stylesheet">


    <link href="~/plugins/bootstrap-datetimepicker/dist/css/datepicker.min.css?v=q0wZgzQ6Ru67x-pIe9IAztrnlHNHyZui3BMwqUYDnpI" rel="stylesheet">
    <script src='/select2/jquery-3.2.1.min.js' type='text/javascript'></script>
    <script src='/select2/dist/js/select2.min.js' type='text/javascript'></script>

    <link href='/select2/dist/css/select2.min.css' rel='stylesheet' type='text/css'>

    <style>
        .select2-dropdown.select2-dropdown--below {
            /*width: 148px !important;*/
        }

        .select2-container--default .select2-selection--single {
            padding: 6px;
            height: 37px;
            width: 148px;
            font-size: 1.2em;
            position: relative;
        }

            .select2-container--default .select2-selection--single .select2-selection__arrow {
                background-image: -khtml-gradient(linear, left top, left bottom, from(#cb0c9f), to(#030303));
                background-image: -moz-linear-gradient(top, #cb0c9f, #030303);
                background-image: -ms-linear-gradient(top, #cb0c9f, #030303);
                background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cb0c9f), color-stop(100%, #030303));
                background-image: -webkit-linear-gradient(top, #cb0c9f, #030303);
                background-image: -o-linear-gradient(top, #cb0c9f, #030303);
                background-image: linear-gradient(#cb0c9f, #030303);
                width: 40px;
                color: #fff;
                font-size: 1.3em;
                padding: 4px 12px;
                height: 27px;
                position: absolute;
                top: 0px;
                right: 0px;
                width: 20px;
            }

        .paginate_button {
            font-size: 12px
        }

        .dataTables_info {
            font-size: 12px
        }

        .badge-info {
            background-color: #2b9ac9;
            border-radius: 0.25rem;
            padding: .25em .4em;
            color: white;
        }

        .badge-green {
            background-color: green;
            border-radius: 0.25rem;
            padding: .25em .4em;
            color: white;
        }

        .badge-darkyellow {
            background-color: #ffc21d;
            border-radius: 0.25rem;
            padding: .25em .4em;
            color: white;
        }

        .badge-danger {
            background-color: #ef5350;
            border-radius: 0.25rem;
            padding: .25em .4em;
            color: white;
        }

        .badge-darkred {
            background-color: darkred;
            border-radius: 0.25rem;
            padding: .25em .4em;
            color: white;
        }

        .red {
            color: red;
            line-height: 1;
        }

        .green {
            color: green;
            line-height: 1;
        }

        .card-body {
            padding: 0.25rem 1.25rem 0.25rem 1.25rem;
        }

        .dt-buttons {
            margin-left: 12px;
        }
    </style>

    <script>
        var offset = 0;
        $(document).ready(function () {
            $('select').select2();

            $('#datatable').DataTable();

            var ddlPlatform = $("#ddlPlatform");
            var ddlMarket = $("#ddlMarket");
        //    var ws = new WebSocket("wss://central.satsport247.com:8888/?token=web_vanilla_admineyJhbGci446309147");
            var selectedtimezone = "";
            var clickHandler = "click";

            if ('ontouchstart' in document.documentElement) {
                clickHandler = "touchstart";
            }

            $("select.formtimezone").change(function () {

                selectedtimezone = "";
                selectedtimezone = $(this).children("option:selected").val();



            });
            function binddropdown() {

                $.ajax({
                    url: '@Url.Action("GetSatSportPlatformList", "Home")',
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: "{}",
                    success: function (response) {
                        ddlPlatform.empty().append('<option selected="selected" value="0">Select Platform</option>');

                        $.each(response, function () {
                            ddlPlatform.append($("<option></option>").val(this['value']).html(this['text']));
                        });
                    },
                    error: function (err) {
                        alert(err.statusText);
                    }
                });

            }

            binddropdown();

            $("#ddlPlatform").change(function () {
                if ($("#ddlPlatform option:selected").val() == "0") {
                    swal("Please Select Platform !!", "", "warning", {
                        button: "Close",
                    });

                } else {

                    //   $('#RunnerDiv').empty();
                    var fromDate = moment($("#fromdate").val(), 'DD/MM/YYYY hh:mm A');

                    var toDate = moment($("#todate").val(), 'DD/MM/YYYY hh:mm A');

                    getReports(fromDate, toDate);
                }

            });
            $('#btnLoadPL').bind(clickHandler, function (e) {



                e.preventDefault();

                $("#displaylabel").empty();

                if ($("#ddlPlatform option:selected").val() == "0") {
                    swal("Please Select Platform !!", "", "warning", {
                        button: "Close",
                    });

                } else {
                    //time zone checking

                    var fromDate = moment($("#fromdate").val(), 'DD/MM/YYYY hh:mm A');

                    var toDate = moment($("#todate").val(), 'DD/MM/YYYY hh:mm A');

                    getReports(fromDate, toDate);
                }






            });

            function getReports(fromDate, toDate) {

                offset = new Date().getTimezoneOffset() * -1;

                if ($('option:selected', this).val() != "0") {


                    console.log(" Default " + fromDate + "to Date" + toDate)
                    if (selectedtimezone == "IST") {

                        var currentTime = new Date();
                        var currentOffset = currentTime.getTimezoneOffset();
                        console.log("current offset" + currentOffset);
                        var ISTOffset = 330;   // IST offset UTC +5:30
                        var fromDate = new Date(moment(fromDate, 'DD/MM/YYYY hh:mm A') - (ISTOffset + currentOffset) * 60000);
                        console.log("before  " + fromDate);
                        var toDate = new Date(moment(toDate, 'DD/MM/YYYY hh:mm A') - (ISTOffset + currentOffset) * 60000);

                        offset = 330;
                        var c = fromDate.toJSON().split(':');
                        c.splice(c.length - 1, 1);
                        fromDate = c.join(':') + ':00.000';
                        var b = toDate.toJSON().split(':');
                        b.splice(b.length - 1, 1);
                        toDate = b.join(':') + ':59.999';
                        console.log("IST  " + fromDate + "to Date   " + toDate);


                    }
                    else if (selectedtimezone == "GST") {

                        var currentTime = new Date();
                        var currentOffset = currentTime.getTimezoneOffset();
                        console.log("current offset" + currentOffset);
                        var ISTOffset = 240;   //
                        var fromDate = new Date(moment(fromDate, 'DD/MM/YYYY hh:mm A') - (ISTOffset + currentOffset) * 60000);
                        var toDate = new Date(moment(toDate, 'DD/MM/YYYY hh:mm A') - (ISTOffset + currentOffset) * 60000);

                        offset = 240;

                        var c = fromDate.toJSON().split(':');
                        c.splice(c.length - 1, 1);

                        fromDate = c.join(':') + ':00.000';
                        var b = toDate.toJSON().split(':');

                        b.splice(b.length - 1, 1);
                        toDate = b.join(':') + ':59.999';
                        console.log("DST   " + fromDate + "to Date   " + toDate);


                    } else {
                        var currentTime = new Date();
                        var currentOffset = currentTime.getTimezoneOffset();
                        var fromDate = new Date(moment(fromDate, 'DD/MM/YYYY hh:mm A') - currentOffset * 60000);
                        var toDate = new Date(moment(toDate, 'DD/MM/YYYY hh:mm A') - currentOffset * 60000);

                        var c = fromDate.toJSON().split(':');
                        c.splice(c.length - 1, 1);
                        fromDate = c.join(':') + ':00.000';

                        var b = toDate.toJSON().split(':');
                        b.splice(b.length - 1, 1);
                        toDate = b.join(':') + ':59.999';
                        console.log("Default  " + fromDate + "to Date   " + toDate);
                        offset = 0;

                    }


                    console.log("formatted time  " + fromDate + "to Date   " + toDate);

                    $('#datatable_body').empty();
                    $('#datatable_footer').empty();
                    $('#datatable_footer').append('<tr>\
                             </tr>');

                        var URL = '@Url.Action("GetWithdrawalRequestList", "Home")';


                    var columns = [];


                    $.ajax({
                        url: URL,
                        type: "POST",
                        'data': {
                            "PlatformId": $("#ddlPlatform option:selected").val(),
                            "PlatformName": $("#ddlPlatform option:selected").text(),
                            "Status": $("#ddlStatus option:selected").val(),
                            "FromDate": fromDate,
                            "ToDate": toDate,
                            "Offset": offset

                        },


                        success: function (data) {


                            $("#displaylabel").empty();
                            $("#displaylabel1").empty();
                            $("#lblmessage").css("display", "block")
                            $("#lblmessage1").css("display", "block")
                            TotalLabel = "<label  class='green ' > Total Withdrawal:  " + data.total + "</label >";



                                $("#displaylabel").append(TotalLabel);

                            $('#datatable').DataTable({

                                "processing": false, // for show progress bar
                                "serverSide": false, // for process server side
                                "bDestroy": true,
                                "bJQueryUI": true,
                                "pageLength": 20,
                                "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]],
                                "sEmptyTable": "Loading data from server",
                                "dom": 'Qlfrtip',

                                "order": [[0, "desc"]],
                                "buttons": [
                                    { extend: 'copy', className: 'btn btn-primary glyphicon glyphicon-duplicate' },
                                    { extend: 'csv', className: 'btn btn-primary glyphicon glyphicon-save-file' },
                                    { extend: 'excel', className: 'btn btn-primary glyphicon glyphicon-list-alt' },
                                    { extend: 'pdf', className: 'btn btn-primary glyphicon glyphicon-file' },
                                ],
                                "rowReorder": true,
                                "data": data.aaData,
                                "columns": [
                                     {
                                        title: "bankaccno",
                                    data: "bankAccNo",
                                        render: function (d) {
                                            return d;

                                        }
                                        },


                                        {
                                        title: "Username",
                                        data: "username",
                                        render: function (d) {
                                            return d;
                                        }
                                    }, {
                                        title: "UserId",
                                        data: "userId",
                                        render: function (d) {
                                            return d;
                                        }
                                    }, {
                                        title: "Balance",
                                        data: "balance",
                                        render: function (d) {
                                            return d;
                                        }
                                    }, {
                                        title: "Description",
                                        data: "description",
                                        render: function (d) {
                                            return d;
                                        }
                                    }, {
                                        title: "Account HolderName",
                                        data: "accountHolderName",
                                        render: function (d) {
                                            return d;
                                        }
                                    }, {
                                        title: "BankIFSC",
                                        data: "bankIFSC",
                                        render: function (d) {
                                            return d;
                                        }
                                    }, {
                                        title: "Mobile No:",
                                        data: "mobileNo",
                                        render: function (d) {
                                            return d;
                                        }
                                    }, {
                                        title: "Withdrawal Type",
                                        data: "withdrawalType",
                                        render: function (d) {
                                            return d;
                                        }
                                    }, {
                                        title: "Status",
                                        data: "status",
                                        render: function (d) {
                                            return d;
                                        }
                                    }, {
                                        title: "Decline Reason",
                                        data: "declineReason",
                                        render: function (d) {
                                            return d;
                                        }

                                    },
                                    {
                                        title: "Created Date",
                                        data: "createdDate",
                                        render: function (d) {
                                            return moment(d).format("DD:MM:YYYY HH:mm:ss");
                                        }
                                    },
                                    {
                                        title: "aprroved/ declined date",
                                        data: "modifiedDate",
                                        render: function (d) {
                                            return moment(d).format("DD:MM:YYYY HH:mm:ss");
                                        }
                                    },
                                ],

                                "initComplete": function () {


                                    this.api().columns().every(function () {
                                        var column = this;
                                        var d = column[0];
                                        if (d[0] == 0) {

                                            var select = $('<select class="select2 form-control ddlstyle"><option value="">Select</option></select>')
                                                .appendTo($(column.footer()).empty())
                                                .on('change', function () {
                                                    var val = $.fn.dataTable.util.escapeRegex(
                                                        $(this).val()
                                                    );

                                                    column
                                                        .search(val ? '^' + val + '$' : '', true, false)
                                                        .draw();
                                                });

                                            column.data().unique().sort().each(function (d, j) {
                                                select.append('<option value="' + d + '">' + d + '</option>')
                                            });
                                        }
                                        else {


                                        }

                                    });
                                }, columnDefs: [
                                    {
                                        targets: 1,
                                        className: "text-right"
                                    }
                                ]
                            });
                        }
                    });

                }
                else {
                    $('#datatable').DataTable().clear().draw();
                }
            }

        });
    </script>

}





<div class="container-fluid px-3 px-sm-4">

    <div class="card  mb-3 mb-sm-4 blur shadow-blur">
        <div class="card-body">
            <form action="#" class="form-horizontal">
                <div class="row g-2">
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group row">
                            <label class="col-md-12">Platform</label>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <select id="ddlPlatform" class="select2 form-control" data-placeholder="Choose a Platform...">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group row">
                            <label class="col-md-12 ">Time Zone</label>
                            <div class="col-md-12">
                                <div class="input-group">
                                    <select id="formtimezone" onkeydown="return false;" class="formtimezone form-control input-group-append" placeholder="">
                                        <option>
                                            UTC
                                        </option>
                                        <option>
                                            IST
                                        </option>
                                        <option>
                                            GST
                                        </option>
                                    </select>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="startdate" class="col-sm-6 col-md-3">
                        <div class="form-group row">
                            <label class="">Start Date</label>
                            <div class="">
                                <div class="input-group">
                                    <input type="text" id="fromdate" onkeydown="return false;" class="form-control datepicker-report" placeholder="dd/mm/yyyy">
                                    <span class="input-group-text text-body"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="enddate" class="col-sm-6 col-md-3">
                        <div class="form-group row">
                            <label class="">End Date</label>

                            <div class="input-group">
                                <input type="text" id="todate" onkeydown="return false;" class="form-control datepicker-report" placeholder="dd/mm/yyyy">
                                <span class="input-group-text text-body"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></span>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group row">
                            <label class="">Status</label>
                            <div class="">
                                <div class="input-group">
                                    <select id="ddlStatus" class="select2 form-control" data-placeholder="Choose a Status...">
                                        <option value="0">ALL</option>
                                        <option value="1">Pending</option>
                                        <option value="2">Approved</option>
                                        <option value="3">Declined</option>
                                        <option value="4">Deleted</option>
                                        <option value="5">Pending Payout</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-2">
                        <div class="form-group row">
                            <label class="col-md-12 d-none d-md-block">&nbsp;&nbsp;&nbsp;</label>
                            <div class="col-md-12">
                                <input type="submit" class="btn-primary btn w-100 mb-2" id="btnLoadPL" value="Search" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="col-auto my-auto">
                <div id="lblmessage" class="col-12">
                    <div class="form-group row text-center mb-0">
                        <span id="displaylabel" class="displaylabel"><label style="font-weight: 600;"></label></span>
                        <div class="input-group-append">
                            <span id="displaylabel1" style="margin-top:-30px" class="input-group"><label style="font-weight: 200;"></label></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <div class="table-responsive p-0">
                <table id="datatable" class="table align-items-center mb-0 border-0 dataTable">
                    <thead>
                        <tr>
                            <th></th>
                            <th class=""></th>
                            <th class=""></th>
                            <th class=""></th>
                            <th class=""></th>
                            <th class=""></th>
                            <th class=""></th>
                            <th class=""></th>
                            <th class=""></th>
                            <th class=""></th>
                            <th class=""></th>
                            <th class=""></th>
                            <th class=""></th>
                            <th class=""></th>
                        </tr>
                    </thead>
                    <tbody id="datatable_body"></tbody>
                    <tfoot id="datatable_footer">

                    </tfoot>
                </table>
            </div>
        </div>
    </div>

</div>       



    




@section FooterFiles{

    <!-- jQuery  -->
    <script src="~/plugins/moment/moment.min.js"></script>

    <!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script>-->
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>

    <script src="~/microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/assets/js/site.js"></script>

    <!-- jQuery
    <script src="~/plugins/waypoints/lib/jquery.waypoints.js"></script>
    <script src="~/plugins/counterup/jquery.counterup.min.js"></script>
        -->
    <!-- skycons
    <script src="~/plugins/skyicons/skycons.min.js"></script>-->
    <!--Datepicker-->
    <script src="~/plugins/bootstrap-datetimepicker/dist/js/datepicker.min.js?v=n3JjkWy2QIc2IH5rOc8Ty4hwyMRPfOdWWfLQWrSi5rY"></script>
    <script src="~/plugins/bootstrap-datetimepicker/dist/js/datepicker.en.js?v=7UnPR3AWcMawuuUmM6DTjsaKdLBKiimReIj6-cBfeZI"></script>
    <script>
        jQuery(document).ready(function ($) {
            /* Counter Up
            $('.counter').counterUp({
                delay: 100,
                time: 1200
            });*/
        });
    </script>
    <script>
        jQuery(document).ready(function ($) {
            /* Counter Up
            $('.counter').counterUp({
                delay: 100,
                time: 1200
            });*/


            if (jQuery('.datepicker-report').datepicker().data('datepicker') !== undefined) {
                var todayDate = moment();
                $("#fromdate").datepicker().data('datepicker').selectDate(new Date(todayDate.startOf('day')));
                //$("#fromdate").datepicker().data('datepicker').selectDate(new Date(todayDate.endOf('day')));
                $("#todate").datepicker().data('datepicker').selectDate(new Date(todayDate.endOf('day')));
            }
        });

        jQuery('.datepicker-report').datepicker({
            language: 'en',
            dateFormat: 'dd/mm/yyyy',
            timepicker: true,
            dateTimeSeparator: " ",
            timeFormat: "hh:ii AA",
            autoClose: true
        });

    </script>

}


